.next-drawer-body {
    display: flex;
    padding: 16px 20px;
    .next-drawer-sidebar {
        margin: -16px 20px -16px -20px;
        padding: 16px 20px;
        width: 160px;
        border-right: 1px solid var(--color-line1-1, #e8e8e8);
    }
}

.next-drawer-large {
    min-width: 800px;
}