// 云效主题独有样式覆盖

@import '../../tab/yunxiao.scss';
@import '../../menu/custom.scss';
@import '../../dialog/yunxiao.scss';
@import '../../tag/custom.scss';
@import '../../tag/yunxiao.scss';
@import '../../input/custom.scss';
@import '../../input/yunxiao.scss';
@import '../../menu-button/custom.scss';
@import '../../notification/custom.scss';
@import '../../message/custom.scss';
@import '../../select/custom.scss';
@import '../../split-button/custom.scss';
@import '../../step/custom.scss';
@import '../../tree/custom.scss';
@import '../../checkbox/yunxiao.scss';
@import '../../time-picker/custom.scss';
@import '../../form/yunxiao.scss';
@import '../../date-picker2/custom.scss';
@import '../../table/custom.scss';
@import '../../calendar2/main.scss';
@import '../../card/yunxiao.scss';

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: var(--color-fill1-1);
  font-variant: tabular-nums;
  font-feature-settings: "tnum","tnum";
}

.next-table-fix-left{
  background: var(--color-fill1-1);
  .next-table-cell-wrapper {
    background: var(--color-fill1-1);
  }
}

.next-table-fix-right{
  background: var(--color-fill1-1);
  .next-table-cell-wrapper {
    background: var(--color-fill1-1);
  }
}