.#{$css-prefix}balloon {
  &-close {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    &:hover {
      background-color: #f7f9fa;
    }
    .#{$css-prefix}icon-close {
      position: relative;
      top: -1px;
    }
  }
}
