#{$css-var-scope} {
  --color-brand1-1: #f0f0ff;
  --color-brand1-6: #5f6bdb;
  --color-brand1-9: #0e1375;
  --color-data1-1: #5ccdbb;
  --color-data1-2: #4d76e6;
  --color-data1-3: #3e45bd;
  --color-data1-4: #ff656b;
  --color-data1-5: #ff6a00;
  --color-data1-6: #fab34f;
  --color-data1-7: #50e3c2;
  --color-data1-8: #5f6bdb;
  --color-white: #ffffff;
  --color-black: #000000;
  --color-transparent: transparent;
  --color-success-1: #f0fffb;
  --color-success-2: #beede1;
  --color-success-3: #90dec9;
  --color-success-4: #43bf9e;
  --color-notice-1: #f0f0ff;
  --color-notice-2: #c9cbf5;
  --color-notice-3: #afb2f0;
  --color-notice-4: #7e83e6;
  --color-warning-1: #fff8f0;
  --color-warning-2: #ffe0bf;
  --color-warning-3: #ffcd96;
  --color-warning-4: #ffa545;
  --color-error-1: #fff1f0;
  --color-error-2: #fcceca;
  --color-error-3: #f7aaa3;
  --color-error-4: #ed675a;
  --color-help-1: #fffcf0;
  --color-help-2: #fff5c2;
  --color-help-3: #ffee96;
  --color-help-4: #f8e71c;
  --color-link-1: #5f6bdb;
  --color-link-2: #afb2f0;
  --color-link-3: #7e83e6;
  --color-other-1: #3a3c4b;
  --color-other-2: #ffffff;
  --color-other-3: #131415;
  --color-line1-1: #e9ebf0;
  --color-line1-2: #dadde5;
  --color-line1-3: #c6cad4;
  --color-line1-4: #ffffff;
  --color-fill1-1: #ffffff;
  --color-fill1-2: #f6f7f9;
  --color-fill1-3: #e9ebf0;
  --color-fill1-4: #dadde5;
  --color-text1-1: #c6cad4;
  --color-text1-2: #7d8089;
  --color-text1-3: #62656f;
  --color-text1-4: #3a3c41;
  --color-text1-5: #ffffff;
  --color-brand1-10: #000452;
  --color-brand1-5: #7e83e6;
  --color-brand1-4: #969aeb;
  --color-brand1-3: #afb2f0;
  --color-brand1-2: #c9cbf5;
  --color-success-6: #159976;
  --color-success-5: #23b08a;
  --color-error-6: #c43123;
  --color-error-5: #e84738;
  --color-warning-6: #cf7413;
  --color-warning-5: #f98e1b;
  --color-notice-6: #3e45bd;
  --color-notice-5: #5f6bdb;
  --color-fill1-6: #979ba5;
  --color-fill1-5: #b3b3b3;
  --color-fill1-7: #62656f;
  --color-brand1-8: #212d8f;
  --color-brand1-7: #3e45bd;
  --color-help-6: #d1b10d;
  --color-help-5: #fad414;
  --color-help-7: rgba(255, 235, 107, 1);
  --color-error-7: rgba(242, 136, 126, 1);
  --color-warning-7: rgba(255, 185, 110, 1);
  --color-notice-7: rgba(150, 154, 235, 1);
  --color-success-7: rgba(103, 207, 179, 1);
  --balloon-primary-color-bg: var(--color-fill1-7);
  --balloon-tooltip-color-bg: var(--color-fill1-7);
}