.next-nav.next-primary .next-selected.next-selected.next-selected.next-selected.next-selected.next-menu-item {
  background-color: var(--nav-primary-item-selected-bg,#000000);
}
.next-nav.next-secondary .next-selected.next-selected.next-selected.next-selected.next-selected.next-menu-item {
  background-color: var(--nav-secondary-item-selected-bg,transparent);
}
.next-nav.next-primary .next-nav-item.next-menu-item.next-focused, .next-nav.next-primary .next-nav-item.next-menu-item:hover{
  background-color: var(--nav-primary-item-selected-bg,#000000);
}