.next-pagination.next-medium .next-pagination-total {
  font-size: var(--pagination-total-font-size, 12px);
  color: var(--color-text1-3, #333333);

}
.next-pagination-list {
  .next-pagination-item {
    box-sizing: border-box;
  }
  .next-pagination-item:not(.next-current) {
    &:hover {
      border-color: var(--pagination-item-hover-bg, #fff);
    }
  }
}

.next-pagination.next-medium {
  .next-pagination-jump-go {
    margin-left: 12px;
  }
  .next-pagination-pages + .next-pagination-size-selector, .next-pagination-size-selector + .next-pagination-pages {
    margin-left: 20px;
  }
}

.next-btn.next-btn-normal.next-pagination-item[disabled] {
  &.next-prev, &.next-next {
    background-color: transparent;
    &:hover {
      background-color: transparent;
    }
  }
}