#{$css-var-scope} {
  /* button */
  --btn-pure-normal-bg-image: linear-gradient(90deg, #1B58F4 0%, #457AFF 100%);
  --btn-pure-primary-bg-hover: #E5E5E5;
  --btn-pure-primary-border-color-hover: #E5E5E5;
  /* nav */
  --nav-primary-item-selected-bg: #000000;
  --nav-secondary-item-selected-bg: transparent;
  /* avatar */
  --next-avatar-bg-color: #1B58F4;
  /* checkbox */
  --checkbox-icon-scale: 0.6;
  --checkbox-disabled-only-border-color: #d9d9d9;
  --checkbox-disabled-only-bg-color: #f9f9f9;
  // --checkbox-disabled-bg-color: #d8d8d8;
  // --checkbox-disabled-circle-color: #cccccc;
  // css-var-definition中的变量重置
  /* balloon */
  --balloon-tooltip-color-bg: #4e4e4e;
  --balloon-normal-color-bg: #515151;
  --balloon-primary-color-bg: #515151;
  --balloon-primary-color-border: #515151;
  --balloon-primary-color: #ffffff;
  --balloon-size-close-margin-top: 9px;
  --balloon-size-close: 8px;
  /* menu */
  --menu-padding-horizontal-selectable: 16px;
  // --menu-padding-horizontal-selectable: 32px;
  --select-menu-select-icon-ml: -16px;
  /* search */
  --search-normal-normal-hover-color: #d9d9d9;
  --search-normal-normal-btn-hover-bg-color: #f3f3f3;
  --search-normal-normal-btn-hover-text-color: #595959;
  --search-normal-primary-hover-color: #d9d9d9;
  --search-normal-secondary-hover-color: #d9d9d9;
  /* message */
  --message-help-color-icon-toast: #888888;
  --message-help-color-icon-inline: #888888;
  /* tag */
  --tag-cursor: pointer;
  --tag-hover-bg: #e5e5e5;
  // breadcrumb
  --breadcrumb-icon-color: #727272;
  // --breadcrumb-text-keyword-color: #BEBEBE;
  // button
  // --btn-normal-hover-shadow: 0 4px 8px 0 rgba(27,89,244,0.30);
  --btn-pure-secondary-bg-hover: #F5FAFF;
  --btn-pure-secondary-border-color-hover: #154CD9;
  --btn-warning-primary-bg: #D32020;
  --btn-warning-primary-border-color: #D32020;
  --btn-warning-primary-bg-hover: #C11919;
  --btn-warning-primary-border-color-hover: #C11919;
  // cascader
  --cascader-menu-icon-hover-expand-color: #727272;
  // data-picker calendar
  --calendar-card-table-cell-hover-background: #E5E5E5;
  --calendar-card-table-cell-hover-color: #595959;
  --calendar-card-table-cell-hover-border-color: #E5E5E5;
  // collapse
  --collapse-title-height: 18px;
  --collapse-icon-color: #737373;
  --collapse-title-font-disabled-color:#BEBEBE;
  --collapse-title-disabled-bg-color:#F3F3F3;
  // radio
  --radio-hovered-bg-color: transparent;
  --radio-checked-bg-color: transparent;
  --radio-checked-circle-color: #457AFF;
  --radio-circle-size: 8px;
  --radio-checked-hovered-bg-color: transparent;
  --radio-checked-hovered-border-color: #1B58F4;
  --radio-checked-hovered-circle-color: #457AFF;
  --radio-checked-disabled-border-color: #bebebe;
  --radio-checked-disabled-bg-color: #bebebe;
  --radio-checked-disabled-circle-color: #8c8c8c;
  --radio-disabled-border-color: #bebebe;
  --radio-disabled-bg-color: #bebebe;
  --radio-border-color: #8c8c8c;
  // progress
  --progress-circle-underlay-width: 4px;
  --progress-circle-overlay-width: 4px;
  // checkbox
  --checkbox-disabled-circle-color: #cccccc;
  // input
  --input-border-color: #d9d9d9;
  --input-feedback-error-border-color: #D32020;
  --active-shadow: 0 4px 8px 0 rgba(0,0,0,0.10);
  --active-transition: 0.3s;
  // notification
  --notification-box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.1);
  // paginatiion
  --pagination-item-split: 1px;
  --pagination-item-hover-bg: #E5E5E5;
  --pagination-item-disabled-bg: #f3f3f3;
  // tab
  --tab-wrapped-tab-margin-right: 1px;
}