#{$css-var-scope} {
  /* button */
  --btn-pure-normal-bg-image: linear-gradient(90deg, #1B58F4 0%, #457AFF 100%);
  --btn-pure-primary-bg-hover: #E5E5E5;
  --btn-pure-primary-border-color-hover: #E5E5E5;
  /* nav */
  --nav-primary-item-selected-bg: #000000;
  --nav-secondary-item-selected-bg: transparent;
  /* avatar */
  --next-avatar-bg-color: #1B58F4;
  /* checkbox */
  --checkbox-icon-scale: 0.6;
  // css-var-definition中的变量重置
  /* balloon */
  --balloon-tooltip-color-bg: #4e4e4e;
  --balloon-normal-color-bg: #515151;
  --balloon-primary-color-bg: #515151;
  --balloon-primary-color-border: #515151;
  --balloon-primary-color: #ffffff;
  --balloon-size-close-margin-top: 9px;
  --balloon-size-close: 8px;
  /* menu */
  --menu-padding-horizontal-selectable: 16px;
  // --menu-padding-horizontal-selectable: 32px;
  --select-menu-select-icon-ml: -16px;
  /* search */
  --search-normal-normal-hover-color: #d9d9d9;
  --search-normal-normal-btn-hover-bg-color: #f3f3f3;
  --search-normal-normal-btn-hover-text-color: #595959;
  --search-normal-primary-hover-color: #d9d9d9;
  --search-normal-secondary-hover-color: #d9d9d9;
  /* message */
  --message-help-color-icon-toast: #888888;
  --message-help-color-icon-inline: #888888;
  /* tag */
  --tag-cursor: pointer;
  --tag-hover-bg: #e5e5e5;
  // breadcrumb
  --breadcrumb-icon-color: #727272;
  // button
  // --btn-normal-hover-shadow: 0 4px 8px 0 rgba(27,89,244,0.30);
  --btn-pure-secondary-bg-hover: #F5FAFF;
  --btn-pure-secondary-border-color-hover: #154CD9;
  --btn-warning-primary-bg: #D32020;
  --btn-warning-primary-border-color: #D32020;
  --btn-warning-primary-bg-hover: #C11919;
  --btn-warning-primary-border-color-hover: #C11919;
  // cascader
  --cascader-menu-icon-hover-expand-color: #727272;
  // data-picker calendar
  --calendar-card-table-cell-hover-background: #E5E5E5;
  --calendar-card-table-cell-hover-color: #595959;
  --calendar-card-table-cell-hover-border-color: #E5E5E5;
}