// b-design主题独有样式覆盖

@import '../../button/b-design.scss';
@import '../../range/b-design.scss';
@import '../../menu-button/b-design.scss';
@import '../../tag/b-design.scss';

// demo演示的背景色改为#ffffff
html:not(.theme-xconsole) .vp-theme-shell-light .vp-theme-shell-header, html:not(.theme-xconsole) .vp-theme-shell-light .vp-theme-shell-aside.vp-theme-shell-navigation, html:not(.theme-xconsole) .vp-theme-shell-main .vp-theme-shell-content-inner{
  background-color: #ffffff;
}

body{
  font-family:Roboto,'Helvetica Neue','PingFang SC','Microsoft YaHei';
  letter-spacing: 0.4px;
}
.next-btn{
  letter-spacing: 1.25px;
}
a{
  text-decoration: none;
}
a:link {
  color: #1B58F4;
  color: var(--color-link-2, #1B58F4);
}
a:hover{
  text-decoration: underline;
}
a.disable{
  color: #BEBEBE;
}

// Typography
h1{
  font-family: PingFangSC-Light;
  // font-size: 96px;
  letter-spacing: -1.5px;
  // line-height: 112px;
}
h2{
  font-family: PingFangSC-Light;
  // font-size: 60px;
  letter-spacing: 0;
  // line-height: 72px;
}
h3{
  font-family: PingFangSC-Regular;
  // font-size: 48px;
  letter-spacing: 0;
  // line-height: 68px;
}
h4{
  font-family: PingFangSC-Regular;
  // font-size: 34px;
  letter-spacing: 0.25px;
  // line-height: 48px;
}
h5{
  font-family: PingFangSC-Regular;
  // font-size: 24px;
  letter-spacing: 0;
  // line-height: 36px;
}
h6{
  font-family: PingFangSC-Medium;
  // font-size: 20px;
  letter-spacing: 0.15px;
  // line-height: 28px;
}
// menu相关
.next-menu.next-menu.next-menu.next-menu.next-menu .next-menu-symbol-icon-selected{
  overflow: unset;
  height: unset;
}
.next-menu.next-menu.next-menu.next-menu.next-menu .next-menu-symbol-icon-selected::before{
  width: 16px;
  font-size: 16px;
}

// balloon tooltop相关
.next-balloon-closable{
  p{
    margin: 0px;
  }
  padding: 8px 40px 8px 16px;
  .next-balloon-close{
    top: var(--balloon-size-close-margin-top, 8px);
    font-size: var(--balloon-size-close, 16px);
  }
}
.next-balloon-medium:not(.next-balloon-closable) {
  padding: 8px 16px 8px 16px;
  // padding: 16px;
}
.next-balloon-close:hover {
  background-color: transparent;
}
.next-balloon-tooltip-medium {
  padding: 8px 16px;
  // padding: 16px;
}
.next-balloon{
  p{
    margin-bottom: 0px;
  }
}

.next-balloon-tooltip:after{
  z-index: 1;
}

// dialog相关 这里可配
.next-dialog:not(.next-dialog-quick){
  .next-dialog-header{
    padding:16px 24px 0px 24px;
    letter-spacing: 0.15px;
  }
  .next-dialog-body{
    margin: 40px 22px 0px 0px;
    padding: 0px 38px 0px 60px;
  }
  /*定义滚动条高宽及背景 高宽分别对应横竖滚动条的尺寸*/
  .next-dialog-body::-webkit-scrollbar{
    width: 4px;
    background-color: transparent;
  }
  /*定义滚动条轨道 内阴影+圆角*/
  .next-dialog-body::-webkit-scrollbar-track{
    border-radius: 2px;
    background-color: transparent;
  }
  /*定义滑块 内阴影+圆角*/
  .next-dialog-body::-webkit-scrollbar-thumb{
    height: 20px!important;
    border-radius: 2px;
    background-color: #d9d9d9;
  }
  .next-dialog-footer{
    padding: 36px 60px 36px 60px;
    display: flex;
    justify-content: space-between;
    .next-btn{
      flex: 1;
      width: 100%;
    }
    // 无法判断那些是长内容
    // box-shadow: 0 -2px 4px 0 rgba(0,0,0,0.10);
    // border-radius: 0 0 8px 8px;
  }
}
.next-dialog.next-dialog-quick{
  .next-dialog-body{
    padding: 36px 36px 24px 36px;
    margin: 0px;
    .next-message[class*=next-message-]{
      box-shadow: none;
    }
    .next-message-content{
      padding: 0px;
    }
  }
  .next-message-title{
    padding-left: 32px;
  }
  .next-dialog-footer{
    padding: 0px 36px 24px 36px;
  }
}

// avadar相关 可配
.next-avatar{
  background-color: var(--next-avatar-bg-color,--color-fill1-4,#1b58f4);
}

// checkbox相关 可配
.next-checkbox-inner.next-checkbox-inner.next-checkbox-inner.next-checkbox-inner.next-checkbox-inner > .next-icon {
  transform: scale(var(--checkbox-icon-scale, 0.6));
}

.next-checkbox-wrapper.disabled .next-checkbox-inner {
  background: var(--checkbox-disabled-only-bg-color, #f9f9f9);
  border-color: var(--checkbox-disabled-only-border-color, #d9d9d9);
}

// select相关
.next-select .next-tag:not([disabled]).next-tag.next-tag:hover {
  background-color: var(--tag-hover-bg);
}
@media (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm){
  .next-tag-closable:hover > .next-tag-close-btn .next-icon{
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
  }
}

// tag相关
.next-tag-closable.next-tag-level-normal{
  background-color: #F3F3F3;
}
.next-tag-closable.next-tag-level-normal[disabled], .disabled.next-tag-closable.next-tag-level-normal{
  background-color: #f3f3f3;
}
.next-tag:not([disabled]).next-tag.next-tag:hover .next-icon-close::before {
  content: var(--icon-content-delete-filling);
}
// number-picker相关
.next-number-picker-inline.next-medium .next-input-group{
  .next-btn{
    color: #727272;
    width: 30px!important;
    height: 30px!important;
    padding: 7px!important;
    background-image: none!important;
    background-color: transparent!important;
  }
  .next-btn:hover{
    background-color: #737373;
  }
}
.next-number-picker-inline.next-medium .next-input-group .next-input{
  height: 30px;
  line-height: 30px;
}
.next-number-picker-inline.next-small .next-input-group{
  .next-btn{
    color: #727272;
    width: 26px!important;
    height: 26px!important;
    padding: 5px!important;
    background-image: none!important;
    background-color: transparent!important;
  }
  .next-btn:hover{
    background-color: #737373;
  }
}
.next-number-picker-inline.next-small .next-input-group .next-input{
  height: 26px;
  line-height: 26px;
}
.next-number-picker-inline.next-large .next-input-group{
  .next-btn{
    color: #727272;
    width: 34px!important;
    height: 34px!important;
    padding: 9px!important;
    background-image: none!important;
    background-color: transparent!important;
  }
  .next-btn:hover{
    background-color: #737373;
  }
}
.next-number-picker-inline.next-large .next-input-group .next-input{
  height: 34px;
  line-height: 34px;
}
.next-number-picker .next-input-control{
  .next-btn{
    background-image: none!important;
    background: none!important;
  }
}
@media (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm){
 .next-number-picker-normal .next-icon.next-btn-icon{
  -webkit-transform: scale(0.7);
  -ms-transform: scale(0.7);
  transform: scale(0.7);
  color: #727272;
 }
}
.next-number-picker-inline .next-input-group{
  padding: 0px;
  .next-input-group-addon:hover{
    background: #F3F3F3;
    // border: 1px solid #1B58F4;
  }
}
.next-number-picker .next-input-control .next-btn:hover{
  background: #F3F3F3!important;
}


// notification相关
// .next-message.next-message-success.next-toast {
//   // 左边框渐变
//   border: none;
//   border-left: 4px solid;
//   border-image: -webkit-linear-gradient(#219644,#21C052,#17E4D4)1 10 1; /* 控制边框颜色渐变 */
// 	border-image: -moz-linear-gradient(#219644,#21C052,#17E4D4)1 10 1;
//   border-image: linear-gradient(#219644,#21C052,#17E4D4)1 10 1; /* 标准的必须写在最后 */
// }
.next-notification{
  .next-message.next-toast[class*='next-message-']{
    box-shadow: var(--notification-box-shadow,0px 2px 4px 0px rgba(0, 0, 0, 0.1));
    display: block;
    padding: 30px 24px 24px 24px;
    .next-message-title{
      font-size: 16px;
      color: #1A1A1A;
      letter-spacing: 0.15px;
      margin-left: 24px;
      padding: 0px;
    }
    .next-message-content{
      font-size: 12px;
      color: #595959;
      margin-top: 16px;
      padding: 0px;
      padding-left: 24px;
      line-height: 18px;
    }
    .next-message-close{
      top: 16px;
      right: 16px;
    }
  }
  .next-message.next-message-success.next-toast {
    border: none;
    border-top: 4px solid;
    border-image: -webkit-linear-gradient(to right,#21C052,#17E4D4)1 10 1; /* 控制边框颜色渐变 */
    border-image: -moz-linear-gradient(to right,#21C052,#17E4D4)1 10 1;
    border-image: linear-gradient(to right,#21C052,#17E4D4)1 10 1; /* 标准的必须写在最后 */
  }
  .next-message.next-message-warning.next-toast {
    border: none;
    border-top: 4px solid;
    border-image: -webkit-linear-gradient(to right,#FFA85D,#FBCD30)1 10 1; /* 控制边框颜色渐变 */
    border-image: -moz-linear-gradient(to right,#FFA85D,#FBCD30)1 10 1;
    border-image: linear-gradient(to right,#FFA85D,#FBCD30)1 10 1; /* 标准的必须写在最后 */
  }
  .next-message.next-message-error.next-toast {
    border: none;
    border-top: 4px solid;
    border-image: -webkit-linear-gradient(to right,#EE1520,#FD337F)1 10 1; /* 控制边框颜色渐变 */
    border-image: -moz-linear-gradient(to right,#EE1520,#FD337F)1 10 1;
    border-image: linear-gradient(to right,#EE1520,#FD337F)1 10 1; /* 标准的必须写在最后 */
  }
  .next-message.next-message-notice.next-toast {
    border: none;
    border-top: 4px solid;
    border-image: -webkit-linear-gradient(to right,#1B58F4,#1CBDFC)1 10 1; /* 控制边框颜色渐变 */
    border-image: -moz-linear-gradient(to right,#1B58F4,#1CBDFC)1 10 1;
    border-image: linear-gradient(to right,#1B58F4,#1CBDFC)1 10 1; /* 标准的必须写在最后 */
  }
  .next-message.next-message-help.next-toast {
    border: none;
    border-top: 4px solid;
    border-image: -webkit-linear-gradient(to right,#888888,#888888)1 10 1; /* 控制边框颜色渐变 */
    border-image: -moz-linear-gradient(to right,#888888,#888888)1 10 1;
    border-image: linear-gradient(to right,#888888,#888888)1 10 1; /* 标准的必须写在最后 */
  }
}

// breadcrumb
@media (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm)
{
  .next-breadcrumb .next-breadcrumb-separator .next-icon{
    -webkit-transform: scale(0.7);
    -ms-transform: scale(0.7);
    transform: scale(0.7);
  }
  .next-breadcrumb .next-breadcrumb-separator .next-icon:before {
    // color: #727272;
    color: #595959;
  } 
}
.next-breadcrumb{
  letter-spacing: 0.4px;
  .next-breadcrumb-item{
    height: 100%;
  }
}
.next-breadcrumb .next-breadcrumb-text{
  height: 18px;
  line-height: 18px;
  b{
    color: unset;
  }
}
// button
.next-btn{
  letter-spacing: 1.25px;
}
.next-btn-warning.next-btn-primary:focus{
  box-shadow: 0 2px 4px 0 rgba(184,41,32,0.30);
}
.next-btn-warning.next-btn-normal:focus{
  box-shadow: 0 2px 4px 0 rgba(184,41,32,0.30);
}
.next-btn.next-btn-text{
  color: #1B58F4;
  &:hover{
    background: #ECF5FF;
    border-radius: 4px;
  }
  &:focus{
    background: #ECF5FF;
    box-shadow: 0 2px 4px 0 rgba(27,88,244,0.10);
    border-radius: 4px;
  }
  &.next-btn-secondary:focus{
    box-shadow: 0 2px 4px 0 rgba(27,88,244,0.10)!important;
  }
}
.next-btn-text.next-medium{
  padding: 0 var(--btn-size-m-padding, 16px);
  height: var(--btn-size-m-height, 32px);
}
.next-btn-text.next-large{
  padding: 0 var(--btn-size-l-padding, 24px);
  height: var(--btn-size-l-height, 36px);
}
.next-btn-text.next-small{
  padding: 0 var(--btn-size-s-padding, 12px);
  height: var(--btn-size-s-height, 28px);
}
.next-btn-group {
  // hover时会有抖动
  .next-btn:not(:last-child){
    z-index: 99;
  }
}
.next-btn-ghost.next-btn-light{
  &:hover,&[disabled],&[disabled]:hover{
    color: var(--btn-ghost-light-color, #FFFFFF);
    border-color: var(--btn-ghost-light-border-color, #E5E5E5);
  }
}
.next-btn-ghost.next-btn-dark{
  &:hover,&[disabled],&[disabled]:hover{
    color: var(--btn-ghost-dark-color, #FFFFFF);
    border-color: var(--btn-ghost-dark-border-color, #E5E5E5);
  }
}
// calendar相关
.next-calendar:not(.next-calendar-fullscreen){
  .next-calendar-cell.next-calendar-cell-current{
    position: relative;
    .next-calendar-date::after{
      content: '';
      position: absolute;
      bottom: 10px;
      width: 4px;
      height: 4px;
      background: #1B58F4;
      border-radius: 2px;
      left: 50%;
      margin-left: -2px;
    }
  }
  .next-calendar-cell.next-calendar-cell-current.next-selected{
    .next-calendar-date::after{
      background: #ffffff;
    }
  }
}
// cascader
.next-menu-item.next-cascader-menu-item{
  .next-cascader-menu-icon-right.next-cascader-menu-icon-expand::before {
    content: "►";
    color: #727272;
    font-size: 14px;
    width: 14px;
  }
  // .next-cascader-menu-icon-expand.next-icon{
  //   margin-right: 0px!important;
  // }
}
.next-cascader{
  border: none;
}
.next-cascader-menu-wrapper + .next-cascader-menu-wrapper{
  border-left: none;
}
.next-cascader:not(.multiple){
  .next-cascader-menu-wrapper {
    .next-menu-item.next-selected, .next-menu-item {
      padding-left: 32px;
      padding-right: 32px;
    }
    .next-menu-item.next-selected{
      color: #1b58f4;
    }
    .next-menu-icon-selected{
      margin-left: -20px;
    }
    .next-cascader-menu-icon-expand.next-icon{
      margin-right: -4px;
    }
  }
}
// 去除滚动条
.next-cascader-select-dropdown{
  border: none;
}
.next-cascader-menu-wrapper{
  scrollbar-width: none; /* firefox */
  -ms-overflow-style: none; /* IE 10+ */
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.10);
  border-radius: 4px;
  border: 1px solid #E5E5E5;
}
.next-cascader-menu-wrapper::-webkit-scrollbar {
  display: none; /* Chrome Safari */
}

// collapse
.next-collapse{
  font-family: PingFangSC-Regular;
  letter-spacing: 0.4px;
  line-height: 18px;
}
.next-collapse .next-collapse-panel:not(.next-collapse-panel-disabled) .next-collapse-panel-icon{
  color: #737373;
}
.next-collapse .next-collapse-panel-icon:before{
  width: 20px;
  font-size: 20px;
}
.next-collapse .next-collapse-panel-icon.next-collapse-panel-icon-expanded:before{
  width: 20px;
  font-size: 20px;
}

// radio
.next-radio-wrapper.disabled .next-radio-inner{
  border-color: #BEBEBE;
  background: none;
}
.next-radio-wrapper.checked .next-radio-inner{
  box-shadow: inset 0 0 0 1px rgba(115,134,150,0.24), inset 0 1px 2px 0 rgba(115,134,150,0.20);
}

// tab相关
.next-tabs-capsule > .next-tabs-bar .next-tabs-tab.active{
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.01);
  position: relative;
  z-index: 99;
}
.next-tabs-capsule > .next-tabs-bar .next-tabs-tab{
  box-shadow: 0 1px 2px 0 rgba(0,0,0,0.01);
}
.next-tabs-capsule > .next-tabs-bar .next-tabs-tab:hover:not(.active){
  background: #F3F3F3;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.10);
  background-color: #F3F3F3;
  color: #595959;
  border: 1px solid #f3f3f3;
}
.next-tabs-capsule > .next-tabs-bar .next-tabs-tab.disabled{
  border-color: #f3f3f3;
}
.next-tabs-wrapped > .next-tabs-bar .next-tabs-tab .next-tabs-tab-close{
  transform: scale(0.7);
}
.next-tabs-pure > .next-tabs-bar .next-tabs-nav-container .next-tabs-tab:before{
  border-radius: 2.5px;
}

// date-picker
.next-input.next-date-picker-input, 
.next-range-picker-trigger,
.next-input.next-range-picker-trigger-input,
.next-input.next-month-picker-input,
.next-input.next-year-picker-input,
.next-input.next-week-picker-input{
  background: #F3F3F3;
  background-color: #F3F3F3;
}
.next-date-picker,
.next-range-picker,
.next-month-picker,
.next-year-picker,
.next-week-picker{
  &:hover{
    // box-shadow: 0 4px 8px 0 rgba(0,0,0,0.10);
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.01);
  }
}
.next-range-picker:hover .next-range-picker-trigger{
  background: #f3f3f3;
}
.next-date-picker-body, .next-range-picker-body, .next-month-picker-body, .next-year-picker-body, .next-week-picker-body{
  .next-input.next-date-picker-panel-input, 
  .next-range-picker-panel-input,
  .next-input.next-range-picker-panel-input-start-date,
  .next-input.next-range-picker-panel-input-end-date,
  .next-input.next-month-picker-panel-input,
  .next-input.next-year-picker-panel-input,
  .next-input.next-week-picker-panel-input{
    background: #F3F3F3;
    background-color: #F3F3F3;
  }
  .next-range-picker-panel-input{
    border: 1px solid #1B58F4;
    border-radius: 4px;
    .next-input{
      border: none;
    }
  }
  .next-calendar.next-calendar-panel{
    background: #F9F9F9;
    // box-shadow: 0 4px 8px 0 rgba(0,0,0,0.10);
    border-radius: 4px;
    background-color: #F9F9F9;
  }
  .next-calendar-panel-header{
    border-bottom: 1px solid #E5E5E5;
  }
  .next-calendar-panel-header,.next-calendar-table{
    background: #f9f9f9;
    background-color: #f9f9f9;
    .next-calendar-date{
      background: #f9f9f9;
      background-color: #f9f9f9;
      border: none;
    }
    .next-calendar-cell:not(.next-selected){
      .next-calendar-date:hover{
        background: #E5E5E5;
        border-radius: 4px;
        background-color: #E5E5E5;
      }
    }
  }
  .next-calendar-range,.next-date-picker-panel-footer{
    background: #f9f9f9;
    background-color: #f9f9f9;
  }
}
.next-time-picker-menu{
  .next-time-picker-menu-title{
    border-bottom: var(--time-picker-menu-border-width, 1px) var(--line-solid, solid) var(--time-picker-menu-border-color, #E5E5E5);
  }
  ul::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
  ul::-webkit-scrollbar-track{
    background-color: transparent;
    border-radius: 3px;
  }
  ul::-webkit-scrollbar-thumb{
    border-radius: 7px;
    background-color: transparent;
  }
}
.next-calendar-range{
  .next-calendar-body-left{
    display: flex;
    justify-content: center;
  }
  .next-calendar-body-right{
    display: flex;
    justify-content: center;
  }
  .next-calendar-table{
    width: auto;
    margin: 0px;
    .next-inrange {
      .next-calendar-date{
        border-radius: 0px;
      }
    }
  }
}

// pagination
.next-pagination-pages{
  .next-pagination-list .next-pagination-item{
    border-radius: 0px;
  }
  .next-pagination-item.next-prev{
    border-radius: 4px 0 0 4px;
    .next-pagination-icon-prev::before{
      content: "◀";
      color: #737373;
      transform: scale(0.7);
    }
    &[disabled]{
      .next-pagination-icon-prev::before{
        content: "◀";
        color: #BEBEBE;
        transform: scale(0.7);
      }
    }
  }
  .next-pagination-item.next-next{
    border-radius: 0 4px 4px 0;
    .next-pagination-icon-next::before{
      content: "▶";
      color: #737373;
      transform: scale(0.7);
    }
    &[disabled]{
      .next-pagination-icon-next::before{
        content: "▶";
        color: #BEBEBE;
        transform: scale(0.7);
      }
    }
  }
  .next-btn[disabled]{
    color: #BEBEBE;
    background: #F3F3F3;
  }
  .next-input input{
    padding: 0px;
    text-align: center;
  }
}
.next-pagination-size-selector{
  .next-menu-item{
    padding: 0px 16px;
  }
}
// search
.next-search .next-input-group:hover{
  box-shadow: var(--active-shadow);
}
.next-search.next-search.next-search .next-input-group:hover{
  box-shadow: var(--active-shadow);
}
.next-search.focusing{
  // border: 1px solid #1B58F4;
  // border-radius: 4px;
  .next-after,.next-search-left,.next-btn{
    // border: none;
    // border: 1px solid #1B58F4;
    border-color: #1b58f4!important;
  }
  // .next-btn{
  //   border-left-color: #d9d9d9!important;
  // }
}
.next-tabs-pure > .next-tabs-bar .next-tabs-nav-container .next-tabs-tab{
  margin-right: 36px;
  .next-tabs-tab-inner{
    padding: 12px 0px;
  }
}
.next-tabs-wrapped.next-tabs-top > .next-tabs-bar .next-tabs-tab:hover{
  box-shadow: var(--active-shadow);
}

// modal
.next-modal{
  box-shadow: 0 16px 32px 0 rgba(0,0,0,0.10);
}

// form
.next-icon.next-small:before{
  width: 12px;
  font-size: 12px;
}

// nav
.next-nav-icon.next-icon{
  margin-right: 10px;
  color: #737373;
}
// .next-nav:not(.next-icon-only) .next-nav-item.next-menu-item{
//   padding: 0px 32px;
// }
.next-nav:not(.next-icon-only):not(.next-hoz) .next-nav-item.next-menu-item.next-selected{
  background-image: linear-gradient(270deg, rgba(87,174,255,0.10) 0%, rgba(1,104,255,0.2) 100%);
  border: none;
  color: #236BEF;
  .next-nav-icon.next-icon{
    color: #1B58F4;
  }
}
.next-nav.next-normal:not(.next-icon-only):not(.next-hoz) .next-nav-item.next-menu-item:before{
  background-color: transparent;
}
.next-nav.next-normal:not(.next-icon-only):not(.next-hoz) .next-menu-item.next-nav-item:not(.next-selected):not(.next-child-selected):hover{
  // opacity: 0.2;
  background: rgba(#E0E0E0,0.2);
  background-color: rgba(#E0E0E0,0.2);
  color: #1a1a1a;
  .next-nav-icon.next-icon{
    color: #565656;
  }
}
.next-nav.next-normal:not(.next-icon-only):not(.next-hoz) .next-nav-item.next-menu-item.next-child-selected{
  background-image: linear-gradient(270deg, rgba(87,174,255,0.10) 0%, rgba(1,104,255,0.2) 100%);
  border: none;
  color: #236BEF;
  .next-nav-icon.next-icon{
    color: #1B58F4;
  }
}
.next-nav.next-normal:not(.next-icon-only):not(.next-hoz) .next-nav-item.next-menu-item.next-opened:not(.next-child-selected){
  color: #1a1a1a;
}
.next-icon-only.next-normal{
  .next-icon{
    color: #595959;
  }
  .next-selected{
    .next-nav-icon.next-icon{
      color: var(--color-brand1-6,#1B58F4);
    }
  }
  .next-child-selected,.next-opened{
    .next-nav-icon-only-arrow{
      color: var(--color-brand1-6,#1B58F4);
    }
  }
}
.next-nav-group-label{
  margin-top: 16px;
}
.next-nav.next-primary:not(.next-icon-only):not(.next-hoz){
  background: #333333;
  box-shadow: 2px 0 12px 0 rgba(0,0,0,0.10);
  background-color: #333333;
  .next-nav-item.next-menu-item{
    color: rgba(255,255,255,0.60);
    background: #333333;
    background-color: #333333;
    a{
      color: rgba(255,255,255,0.60);
    }
  }
  .next-nav-item.next-menu-item:not(.next-selected):not(.next-child-selected):hover{
    background: rgba(#E0E0E0,0.2);
    // opacity: 0.2;
    color: rgba(255,255,255,0.60);
    a{
      color: rgba(255,255,255,0.60);
    }
    .next-nav-icon.next-icon{
      color: #BEBEBE;
    }
  }
  .next-nav-item.next-menu-item.next-selected{
    background-image: linear-gradient(270deg, #7EA3FF 0%, #457AFF 100%);
    color: rgba(255,255,255,0.90);
    a{
      color: rgba(255,255,255,0.90);
    }
    .next-nav-icon.next-icon{
      color: #ffffff;
    }
  }
  .next-nav-item.next-menu-item.next-child-selected,.next-nav-item.next-menu-item.next-opened{
    background-image: linear-gradient(270deg, #7EA3FF 0%, #457AFF 100%);
    background-color: transparent;
    color: rgba(255,255,255,0.90);
    a{
      color: rgba(255,255,255,0.90);
    }
    .next-nav-icon.next-icon{
      color: #ffffff;
    }
  }
}
.next-nav.next-primary.next-icon-only{
  background-color: #333333;
  background: #333333;
  color: #a6a6a6;
  .next-icon{
    color: #a6a6a6;
  }
  .next-selected.next-menu-item.next-menu-item{
    background-color: #333333;
    .next-nav-icon.next-icon{
      color: #f3f3f3;
    }
  }
  .next-child-selected,.next-opened{
    .next-nav-icon-only-arrow{
      color: #f3f3f3;
    }
  }
  .next-nav-item.next-menu-item.next-opened{
    background: #333333;
  }
  .next-menu-item.next-menu-item:hover{
    background-color: #333333;
  }
  .next-nav-item.next-menu-item{
    background-color: #333333;
  }
}

// list
.next-list.next-list-small,.next-list.next-list-medium,.next-list.next-list-large{
  // box-shadow: 0 1px 2px 0 rgba(0,0,0,0.10);
  border-radius: 8px;
  background: #FFFFFF;
  // padding: 8px;
  padding: 8px 0px 8px 8px;
  .next-list-item{
    padding-top: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    border: none;
  }
  .next-list-item-media{
    padding-top: 16px;
    padding-bottom: 16px;
  }
  .next-list-item-content,.next-list-item-extra{
    padding: 16px 0px;
    // border-bottom: var(--line-1, 1px) solid var(--list-divider-color, #E5E5E5);
    border-bottom: none;
    position: relative;
  }
  .next-list-item:not(:last-child){
    .next-list-item-content:after,.next-list-item-extra:after{
      content: "  ";
      position: absolute;
      left: 0;
      bottom: 0;
      width: 100%;
      // height: 1px;
      border-bottom: 1px solid #e5e5e5;
      // background-color: #f00;
      /* 如果不用 background-color, 使用 border-top:1px solid #f00; 效果是一样的*/
      -webkit-transform: scaleY(.5);
      transform:scaleY(.5);
    }
  }
  .next-list-item-extra{
    padding-right: 16px;
  }
}
.next-list-divider .next-list-item:last-child{
  .next-list-item-content,.next-list-item-extra{
    border: none;
  }
}
.next-list.next-list-divider {
  .next-list-item-media>img{
    border-radius: 4px;
  }
  .next-list-item-content{
    justify-content: space-between;
    p{
      margin: 8px 0px!important;
    }
    p + div{
      color: #a6a6a6;
    }
  }
}
// .next-list {
//   .next-list-header{
//     position: relative;
//     border-bottom: none;
//   }
//   .next-list-header:after{
//     content: "  ";
//     position: absolute;
//     left: 0;
//     bottom: 0;
//     width: 100%;
//     // height: 1px;
//     border-bottom: 1px solid #e5e5e5;
//     // background-color: #f00;
//     /* 如果不用 background-color, 使用 border-top:1px solid #f00; 效果是一样的*/
//     -webkit-transform: scaleY(.5);
//     transform:scaleY(.5);
//   }
// } 

 // input 
 .next-input .next-input-inner.next-before{
  padding-left: 12px;
 }
 .next-input .next-input-inner.next-after{
  padding-right: 12px;
 }
.next-cascader-inner{
  width: unset;
}

// input 与 select结合
.next-input-group{
  .next-input-group-addon:first-child{
    .next-input{
      border-right: 1px solid transparent;
    }
  }
  .next-input-group-text:first-child {
    border: 1px solid #d9d9d9;
    + .next-input.next-large{
      border-left: none;
      input {
        height: 12px;
        line-height: 12px;
        margin: 11px 0px;
        border-left: 1px solid transparent;
        position: relative;
        z-index: 9;
      }
    }
    + .next-input:not(.next-large){
      border-left: none;
      input {
        height: 12px;
        line-height: 12px;
        margin: 9px 0px;
        border-left: 1px solid transparent;
        position: relative;
        z-index: 9;
      }
    }
  }
  >.next-input.next-large{
    border-left: none;
    input {
      height: 12px;
      line-height: 12px;
      margin: 11px 0px;
      border-left: 1px solid #d9d9d9;
      position: relative;
      z-index: 9;
    }
  }
  >.next-input:not(.next-large){
    border-left: none;
    input {
      height: 12px;
      line-height: 12px;
      margin: 9px 0px;
      border-left: 1px solid #d9d9d9;
      position: relative;
      z-index: 9;
    }
  }
}

.next-number-picker {
  .next-input-group {
    >.next-input:not(.next-large),  >.next-input.next-large {
      input{
        margin: 0px;
        border-left: none;
      }
    }
  }
}

// message
.next-message.next-addon[class*='next-message-']{
  background: #FFFFFF;
}
.next-message.next-addon[class*='next-message-'],.next-message.next-inline[class*='next-message-'],.next-message.next-toast[class*='next-message-']{
  display: flex;
  align-items: center;
  box-shadow: 0 2px 4px 0 rgba(0,0,0,0.10);
  padding: 15px 16px;
  border: none;
  border-radius: 4px;
  .next-message-title{
    font-size: 12px;
    padding: 0px 0px 0px 8px;
  }
  .next-message-content{
    margin: 0px;
    padding-left: 4px;
    color: #1a1a1a;
    margin-top: 0px;
  }
  .next-message-close{
    right: 20px;
    top: 18px;
  }
  &.next-message-success{
    .next-message-title{
      color: #29A64E;
    }
  }
  &.next-message-error{
    .next-message-title{
      color: #C82728;
    }
  }
  &.next-message-warning{
    .next-message-title{
      color: #FFAA14;
    }
  }
  &.next-message-notice{
    .next-message-title{
      color: #1A1A1A;
    }
  }
}
.next-message.next-toast[class*='next-message-']{
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.10);
  // &.next-message-success,&.next-message-warning,&.next-message-error,&.next-message-notice,&.next-message-help,&.next-message-loading{
  &[class*='next-message-']{
    .next-message-title{
      color: #1a1a1a;
      font-weight: normal;
    }
  }
}
.next-message{
  .next-message-close .next-icon-close{
    transform: scale(0.7);
  }
}

// time-picker
.next-time-picker-panel-input.next-input{
  padding: 0px;
}
// badge
// .next-badge {
//   .next-badge-dot{
//     background: #29A64E;
//   }
// }

// upload
.next-upload-dragable .next-upload-drag-text{
  margin: 4px 0px 0px;
}

// progress
.next-progress-line-overlay-normal{
  background-image: var(--progress-line-normal-bg-color);
  background-color: unset;
}

// table
.next-table{
  th.next-table-prerow .next-table-cell-wrapper{
    padding: 10px 16px;
    height: 38px;
    .next-checkbox-wrapper {
      display: inline-block;
      margin-top: -6px;
    }
  }
  td.next-table-prerow .next-table-cell-wrapper{
    padding: 10px 16px;
  }
}
.next-table.only-bottom-border table tr td:first-child, .next-table.only-bottom-border table tr th:first-child{
  height: 38px;
}
.next-table.only-bottom-border:not(.next-table-lock):not(.next-table-scrolling-to-right):not(.next-table-lock-left):not(.next-table-lock-right){
  border: 1px solid var(--table-normal-border-color, #E5E5E5);
  border-bottom: none;
  .next-table-header th{
    border-right: 1px solid var(--table-normal-border-color, #E5E5E5);
    &:nth-last-child(2){
      border-right: none;
    }
    &:last-child{
      border-left: 1px solid var(--table-normal-border-color, #E5E5E5);
    }
  }
  .next-table-body{
    .next-table-row {
      .next-table-cell.first{
        border-right: 1px solid var(--table-normal-border-color, #E5E5E5);
      }
      .next-table-cell.last{
        border-left: 1px solid var(--table-normal-border-color, #E5E5E5);
        border-right: 1px solid transparent;
      }
    }
  }
}
 // form
 // 间距问题
