$tag-prefix: '.' + $css-prefix + 'tag';
$icon-prefix: '.' + $css-prefix + 'icon';

// #{$tag-prefix} {
//   &:not([disabled]) {
//     &#{$tag-prefix}#{$tag-prefix} {
//       #{$icon-prefix}-close::before {
//         content: var(--icon-content-delete-filling);
//       }
//     }
//   }
// }

#{$tag-prefix}-has-icon {
  #{$tag-prefix}-body {
    display: inline-flex;
    align-items: center;
  }
  #{$tag-prefix}-icon {
    margin-right: 4px;
    font-size: 0;
    .#{$css-prefix}icon {
      &::before {
        width: unset;
      }
    }
  }
}

.next-tag-medium.next-tag-has-icon  > .next-tag-body .next-icon::before {
  font-size: 12px;
}

.next-tag-large.next-tag-has-icon  > .next-tag-body .next-icon::before {
  font-size: 16px;
}

.next-tag-medium.next-tag-has-icon  > .next-tag-body .teamix-icon {
  font-size: 12px;
  vertical-align: middle;
}

.next-tag-large.next-tag-has-icon  > .next-tag-body .teamix-icon {
  font-size: 16px;
  vertical-align: middle;
}