$dialog-prefix: '.' + $css-prefix + 'dialog';
.theme-hybridcloud.theme-hybridcloud,
.theme-hybridcloud-dark.theme-hybridcloud-dark {
  .next-dialog-message.next-message.next-addon .next-message-content {
    color: var(--color-text1-6, #666666);
    line-height: 1.5;
    margin-top: 16px;
  }

  .next-dialog-header {
    font-weight: 500;
  }
}

.next-dialog-message.next-message.next-addon .next-message-content {
  color: var(--color-text1-6, #666666);
  line-height: 1.5;
  margin-top: 16px;
}

.next-dialog-header {
  font-weight: 500;
}

// for teamix
.theme-hybridcloud,
.theme-hybridcloud-dark,
:not(.theme-yunxiao),
:not(.theme-yunxiao-dark){
  #{$dialog-prefix} {
    min-width: 400px;
    &:not(#{$dialog-prefix}-quick) {
      --dialog-close-top: 16px;
      #{$dialog-prefix}-header {
        --dialog-title-padding-bottom: 12px;
        --dialog-title-padding-top: 12px;
        --dialog-title-border-color: var(--color-line1-1);
      }
      #{$dialog-prefix}-body {
        --dialog-content-padding-top: 16px;
      }
      #{$dialog-prefix}-footer {
        --dialog-footer-border-color: transparent;
        --dialog-footer-padding-top: 20px;
        --dialog-footer-padding-bottom: 20px;
      }
    }
  }
}

// for teamix
.theme-hybridcloud,
.theme-hybridcloud-dark,
:not(.theme-yunxiao),
:not(.theme-yunxiao-dark) {
  .next-dialog-message.next-message.next-addon .next-message-content {
    line-height: 1.5;
  }
  .next-dialog-header {
    font-weight: 500;
  }
}
