$dialog-prefix: '.' + $css-prefix + 'dialog';

#{$dialog-prefix} {
  &-footer {
    .#{$css-prefix}btn {
      // 调整 footer 中的行动按钮间距
      margin-left: var(--s-2, 8px);
      &:first-child {
        margin-left: 0;
      }
    }
  }
}
