$dialog-prefix: '.' + $css-prefix + 'dialog';

$dialog-prefix: '.' + $css-prefix + 'dialog';

#{$dialog-prefix} {
  &-header {
    padding-right: calc(var(--dialog-title-padding-left-right) + var(--dialog-close-right))
  }
}
