// 混合云、云效tree样式覆盖
.next-tree.next-node-block .next-tree-node-inner.next-selected:not(.next-disabled) {
  font-weight: var(--tree-selected-font-weight, 500);
  .next-tree-switcher.next-noline .next-tree-switcher-icon {
    color: var(--tree-switcher-icon-selected-color, var(--color-brand1-6));
  }
}

.next-tree-node-label .next-icon::before {
  font-size: calc(var(--font-size-body-1) + 2px);
}

.next-tree.next-node-block .next-tree-node-inner {
	border-radius: var(--corner-1);
}

.next-tree-switcher.next-tree-switcher.next-tree-switcher.next-noline .next-tree-fold-icon::before {
  line-height: inherit;
}

.next-tree-switcher.next-tree-switcher.next-tree-switcher.next-loading .next-tree-switcher-icon::before {
  // width: 20px;
  // height: 20px;
  line-height: inherit;
}

.next-tree-switcher.next-line {
  flex-shrink: 0;
}

@media (-webkit-min-device-pixel-ratio: 0) and (min-resolution: 0.001dpcm) {
  .next-tree-switcher.next-loading .next-tree-switcher-icon {
    transform: scale(0.7);
  }
  .next-tree-switcher.next-line.next-tree-switcher.next-line .next-tree-switcher-icon::before {
    line-height: inherit;
  }
}

// 新版 Fusion css 层级更改了 对于沾满一行的需要覆盖


.next-tree.next-node-block .next-tree-node-inner:hover, .next-tree.next-node-block .next-tree-node-inner:focus {
  color: #333333;
  color: var(--tree-node-hover-color, #333333);
  background-color: #f7f7f7;
  background-color: var(--color-fill1-2,rgba(247,247,247,1));
}
.next-tree.next-node-block.next-tree.next-node-block {
  .next-tree-node-label-wrapper, .next-tree-node-label-wrapper:hover, .next-tree-node-label-wrapper:focus {
    background-color: transparent;
  }
}
.next-tree.next-node-block .next-tree-node-inner.next-disabled .next-tree-node-label, .next-tree.next-node-block .next-tree-node-inner.next-disabled:hover .next-tree-node-label {
  background-color: transparent;
}

.next-tree.next-node-block .next-tree-node-inner.next-selected {
  color: #0064C8;
  color: var(--tree-node-selected-color, #0064C8);
  background-color: #F0F7FF;
  background-color: var(--tree-node-selected-background, #F0F7FF);
}
