#{$css-var-scope} {
  --color-brand1-1:rgba(243,243,244,1);
  --color-brand1-2:rgba(219,219,219,1);
  --color-brand1-3:rgba(53,54,59,1);
  --color-brand1-4:rgba(94,96,104,1);
  --color-brand1-5:rgba(94,96,104,1);
  --color-brand1-6:rgba(53,54,59,1);
  --color-brand1-7:rgba(53,54,59,1);
  --color-brand1-8:rgba(53,54,59,1);
  --color-brand1-9:rgba(25,25,45,1);
  --color-brand1-10:rgba(25,25,45,1);
}