#{$css-var-scope} {
  --color-brand1-1:#f2f3f5;
  --color-brand1-2:#e6e7eb;
  --color-brand1-3:#b8b9bf;
  --color-brand1-4:#848587;
  --color-brand1-5:#5e5f66;
  --color-brand1-6:#35363b;
  --color-brand1-7:#232533;
  --color-brand1-8:#0c0f1f;
  --color-brand1-9:#05091a;
  --color-brand1-10:#00020a;
}