#{$css-var-scope} {
  --color-brand1-1:#f3f3f4;
  --color-brand1-2:#dbdbdb;
  --color-brand1-3:#35363b;
  --color-brand1-4:#5e6068;
  --color-brand1-5:#5e6068;
  --color-brand1-6:#35363b;
  --color-brand1-7:#35363b;
  --color-brand1-8:#35363b;
  --color-brand1-9:#19192d;
  --color-brand1-10:#19192d;
}