.next-table-row {
  .next-table-cell.next-table-selection {
    position: relative;

    .next-checkbox-wrapper.checked {
      &::before {
        content: '';
        position: absolute;
        height: calc(100% + 1px);
        top: 0;
        left: 0px;
        border-left: 2px solid var(--color-table-selected-border);
      }
    }
  }
}

.next-table-lock-right.shadow {
  box-shadow: var(--table-lock-right-shadow);
}

.next-table-lock-left.shadow {
  box-shadow: var(--table-lock-left-shadow);
}

.next-table-ping-right
.next-table-expanded-area
.next-table-ping-right
.next-table-fix-right-first:after,
.next-table-ping-right .next-table-fix-right-first:after {
  box-shadow: var(--table-ping-right-shadow);
}

.next-table-ping-left
.next-table-expanded-area
.next-table-ping-left
.next-table-fix-left-last::after,
.next-table-ping-left .next-table-fix-left-last::after {
  box-shadow: var(--table-ping-left-shadow);
}

.next-table:not(.next-table-fixed) {
  @include hybridcloud-global-scrollbar;
}

.next-table.next-table th .next-table-cell-wrapper {
  word-break: break-word;
}

/**
  在弹窗、抽屉、卡片 中，表格的内容背景色为G10、表头背景色为G20
*/
.next-dialog, .next-drawer, .next-card {
  .next-table th {
    background: var(--table-th-fill-color, #f7f7f7);
  }

  .next-table-row {
    background: var(--table-tr-fill-color, #ffffff);
  }
}

// 表格批量操作第一列多选框没居中
.next-table-row {
  .next-table-cell.first {
    .next-table-cell-wrapper {
      .next-checkbox-wrapper {
        display: flex;
      }
    }
  }
}

.theme-hybridcloud {
  .next-table-row.selected {
    background: var(--color-brand1-1, #f0f7ff);
  }
}
.theme-hybridcloud-dark {
  .next-table-row.selected {
    background: var(--table-row-selected-bg,#f0f7ff);
  }
}
