.next-table-fix-left{
  background: var(--color-fill1-1);
  .next-table-cell-wrapper {
    background: var(--color-fill1-1);
  }
}

.next-table-fix-right{
  background: var(--color-fill1-1);
  .next-table-cell-wrapper {
    background: var(--color-fill1-1);
  }
}