.next-select-menu {
  .next-menu-group-label {
    color: var(--color-text1-3, #333333);
    font-weight: var(--font-weight-medium, 500);
  }
}

.next-select-multiple.next-medium .next-tag .next-tag-body, .next-select-multiple.next-medium .next-tag .next-tag-close-btn, .next-select-tag.next-medium .next-tag .next-tag-body, .next-select-tag.next-medium .next-tag .next-tag-close-btn {
  line-height: 16px;
}