.next-menu-group-label div{
    font-weight: var(--font-weight-medium, 500);
    color: var(--color-text1-4, #292929);
  }

.next-select {
    .next-noborder {
        .next-input-control {
            .next-select-arrow {
                .next-select-symbol-fold {
                    color: var(--color-brand1-6, #1b9aee);
                }
            }
        }   
    }
}