.next-step-item-container {
    .next-step-item-node-placeholder {
        .next-step-item-node {
            .next-step-item-node-circle {
                display: flex;
                align-items: center;
                justify-content: center;
                .next-icon {
                    display: inline-flex;
                }
            }
        }
    }
}

.next-step {
    .next-step-item {
        .next-step-item-body {
            .next-step-item-content {
                color: var(--color-fill1-6, #8b8b8b);
            }
        }
    }
}

.next-step-vertical {
    .next-step-item {
        .next-step-item-tail {
            min-height: 48px;
        }
    }
}