// 云效input样式覆盖
.next-input-control .next-input-len {
    vertical-align: middle;
}
.next-input {
    &:hover {
        border-width: 1px;
    }
    &:active {
        border-width: 1px;
    }
    &:hover,
    &.#{$css-prefix}focus {
        box-shadow: none;
    }
}

.next-input-group:hover {
    box-shadow: none;
}