.next-switch-off:focus {
  background-color: var(--switch-normal-off-bg-color, #7d8389);
  border-color: var(--switch-normal-off-border-color, transparent);
}

.next-switch-off:hover {
  background-color: var(--switch-hover-off-bg-color, #c6cdd4);
  border-color: var(--switch-hover-off-border-color, transparent);
}