.next-modal-header {
  height: 48px;
  padding: var(--s-2) var(--s-8);

  .next-modal-title {
    font-size: var(--font-size-title, 18px);
    color: var(--color-text1-4, #292929);
    font-weight: var(--font-weight-medium, 500);
  }

  .next-icon-close.next-icon-close.next-icon-close {
    font-size: 17.9px;
    &::before {
      font-size: 17.9px;
    }
  }
}