// 自定义样式
// 云组件公共变量
$btn-prefix: '.' + $css-prefix + 'btn';
$text-btn: $btn-prefix + '-text';

#{$btn-prefix} {
  font-weight: var(--btn-font-weight, 400);
  transition: all 0.1s;
  &[disabled]:hover {
    box-shadow: none;
  }
  &-primary {
    &:hover {
      box-shadow: var(--btn-primary-hover-shadow);
    }
    &:active {
      box-shadow: var(--btn-primary-active-shadow);
    }
  }
  &#{$btn-prefix}-text {
    &:hover,
    &:active {
      box-shadow: none;
    }
  }

  &-normal {
    &:hover {
      box-shadow: var(--btn-normal-hover-shadow);
    }
    &:active {
      box-shadow: var(--btn-normal-active-shadow);
    }
  }

  &#{$btn-prefix}-secondary:not([disabled]):hover {
    &:hover,
    &:active {
      box-shadow: none;
    }
  }

  &.#{$css-prefix}small {
    &:not(.isOnlyIcon):not(#{$text-btn}) {
      min-width: var(--btn-large-min-width, 60px);
    }
    &.isTwoToFourCNCharBtn:not(#{$btn-prefix}-loading) {
      width: var(--btn-small-cn-width, 64px);
      padding: 0;
    }
    &.isOnlyIcon {
      width: 24px;
      padding: 0;
    }
  }

  &.#{$css-prefix}medium {
    &:not(.isOnlyIcon):not(#{$text-btn}) {
      min-width: var(--btn-large-min-width, 68px);
    }
    &.isTwoToFourCNCharBtn:not(#{$btn-prefix}-loading) {
      width: var(--btn-medium-cn-width, 72px);
      padding: 0;
    }
    &.isOnlyIcon {
      width: 32px;
      padding: 0;
    }
  }

  &.#{$css-prefix}large {
    &:not(.isOnlyIcon):not(#{$text-btn}) {
      min-width: var(--btn-large-min-width, 76px);
    }
    &.isTwoToFourCNCharBtn:not(#{$btn-prefix}-loading) {
      width: var(--btn-large-cn-width, 80px);
      padding: 0;
    }
    &.isOnlyIcon {
      width: 36px;
      padding: 0;
    }
  }

  &-group {
    #{$btn-prefix} {
      &#{$btn-prefix}#{$btn-prefix}#{$btn-prefix} {
        min-width: unset;
      }
      &#{$btn-prefix}-primary {
        border-style: solid;
        border-color: rgba(255, 255, 255, 0.2);
      }
    }
  }
}
