// 混合云form样式覆盖
.next-form.next-medium .next-switch {
  margin-top: 5px;
}

// form间距
.next-form-item.next-top {
  margin-bottom: var(--s-5, 20px);
  .next-form-item-label {
    line-height: 1.5;
    margin-bottom: var(--s-1, 4px);
  }
}
