#{$css-var-scope} {
  /* 全局 */
  --alicloudfe-components-theme: hybridcloud;
  --active-shadow: var(--shadow-1-down);
  --active-transition: 0.3s;
  --scrollbar-width: 4px;
  --scrollbar-height: 4px;
  --global-scrollbar-width: 6px;
  --global-scrollbar-height: 6px;
  --scrollbar-track-bg: transparent;
  --scrollbar-track-border-radius: 3px;
  --scrollbar-thumb-bg: rgba(0, 0, 0, 0.2);
  --scrollbar-thumb-hover-bg: rgba(0, 0, 0, 0.4);
  // 用于容器组件
  --layout-padding-top-and-bottom: 16px;
  --layout-padding-left-and-right: 24px;
  --layout-section-margin-right: 16px;
  --layout-section-padding-right: 16px;
  --layout-section-margin-bottom: 16px;
  --layout-header-height: auto;
  --layout-header-margin-bottom: 8px;

  /* button */
  --btn-primary-hover-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.18);
  --btn-primary-active-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
  --btn-normal-hover-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.06);
  --btn-normal-active-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  --btn-small-min-width: 62px;
  --btn-medium-min-width: 62px;
  --btn-large-min-width: 64px;

  --btn-small-cn2-3-width: 62px;
  --btn-small-cn4-width: 72px;
  --btn-medium-cn2-3-width: 62px;
  --btn-medium-cn4-width: 80px;
  --btn-large-cn2-3-width: 64px;
  --btn-large-cn4-width: 88px;
  // --btn-font-weight: 500;

  /* menu */
  --menu-icon-selected-color: #333333;
  --select-menu-select-icon-ml: -20px;
  --menu-padding: 6px;
  --menu-padding-horizontal: 8px;
  --menu-item-padding-ver-padding-r: 8px;
  --menu-item-padding-ver-padding-l: 8px;
  // 对于可选择的menu，增加padding以便容纳勾选图标
  --menu-padding-horizontal-selectable: 24px;

  /* number-picker */
  --number-picker-height-small: 28px;
  --number-picker-height-medium: 32px;
  --number-picker-height-large: 36px;
  --number-picker-inline-group-border: 1px solid var(--input-border-color);

  /* cascader */
  --cascader-menu-width: 175px;
  --cascader-menu-height: 176px;

  /* checkbox */
  --checkbox-icon-scale: 0.7;

  /* message */
  --message-title-weight: 500;
  --message-close-icon-size: 16px;
  --message-success-border-color: var(--color-success-7);
  --message-warning-border-color: var(--color-warning-7);
  --message-error-border-color: var(--color-error-7);
  --message-notice-border-color: var(--color-brand1-4);
  --message-help-border-color: var(--color-brand1-4);
  --message-size-m-title-content-padding-right: var(--s-3);

  /* transfer */
  --transfer-panel-padding-mb: 8px;
  --transfer-panel-margin-mb: 0px;

  /* datepicker */
  --calendar-panel-header-margin-bottom: 4px;

  /* dialog */
  --dialog-title-border-color: var(--color-line1-1);
  --dialog-footer-padding-top: 16px;
  --dialog-footer-padding-bottom: 20px;
  --dialog-close-size: 16px;
  --dialog-close-top: 14px;
  --dialog-title-padding-bottom: 20px;
  --dialog-title-padding-top: 20px;
  --dialog-header-close-bg-width: 20px;
  --dialog-header-close-bg-height: 20px;
  --color-dialog-content: var(--color-text1-6);

  /* tag */
  --colortag-border-width: 1px;
  --color-tag-turquoise-background: rgba(201, 239, 236);

  /* tree */
  --tree-selected-font-weight: 600;

  /* drawer */
  --drawer-close-icon-ml: -14px;

  /* pagination */
  --pagination-item-disabled-bg: #fff;
  --pagination-total-font-size: 12px;

  /* card */
  --card-hover-shadow: none;
  --card-body-show-divider-padding-top: 16px;

  /* tab */
  --tab-item-margin-lr-size-m: var(--tab-item-padding-lr-size-m);
  --tab-item-margin-lr-size-s: var(--tab-item-padding-lr-size-s);

  /* table */
  --color-table-selected-border: var(--color-brand1-6);
  --table-lock-right-shadow: -2px 0 3px rgb(0 0 0 / 12%);
  --table-lock-left-shadow: 2px 0 3px rgb(0 0 0 / 12%);
  // 用于 Table.StickyLock
  --table-ping-right-shadow: inset -10px 0 8px -8px rgb(0 0 0 / 15%);
  --table-ping-left-shadow: inset 10px 0 8px -8px rgb(0 0 0 / 15%);

  /* skeleton */
  --color-skeleton-bg-normal: #eee;
  --color-skeleton-bg-light: #f5f5f5;

  /* drawer */
  --drawer-footer-padding-top: var(--s-4, 16px);
  --drawer-footer-padding-bottom: var(--s-4, 16px);
  --drawer-footer-padding-left: var(--s-5, 20px);
  --drawer-footer-padding-right: var(--s-5, 20px);
  --drawer-footer-bg-color: var(--color-white, #fff);
  --drawer-footer-border-color: var(--color-line1-1, #eaeaea);
  --drawer-footer-border-width: var(--line-1, 1px);
  --drawer-has-footer-margin-bottom: var(--s-10, 40px);
  --drawer-header-close-bg-width: var(--s-5, 20px);
  --drawer-header-close-bg-height: var(--s-5, 20px);
  --drawer-header-close-transform-left: -4px;
  --drawer-header-close-border-radius: 2px;

  /* modal */
  --modal-header-close-bg-width: 20px;
  --modal-header-close-bg-height: 20px;
  --modal-header-close-border-radius: 2px;
  --modal-header-close-margin-right: 18px;

  /* search */
  --search-before-title-icon-padding: 0 0 0 8px;
  --search-before-title-icon-font-size: 20px;
  --search-before-title-icon-margin: 0 8px 0 0;

  /* date-picker 2 */
  --date-picker2-time-bg: var(--color-brand1-1, #001A33);

  /* step */
  --step-circle-item-tail-finish-color: var(--color-brand1-6);

  /* mention */
  --color-mention-1: #F0F0FF;
  --color-mention-2: #D7D7FC;
  --color-mention-3: #BBBBFA;
  --color-mention-4: #A6A3F7;
  --color-mention-5: #8A87F5;
  --color-mention-6: #6B67E0;
  --color-mention-7: #4440BD;
  --color-mention-8: #272399;
  --color-mention-9: #120E75;
  --color-mention-10: #030052;
  --color-mention-1-rgb: 240,240,255;
  --color-mention-2-rgb: 215,215,252;
  --color-mention-3-rgb: 187,187,250;
  --color-mention-4-rgb: 166,163,247;
  --color-mention-5-rgb: 138,135,245;
  --color-mention-6-rgb: 107,103,224;
  --color-mention-7-rgb: 68,64,189;
  --color-mention-8-rgb: 39,35,153;
  --color-mention-9-rgb: 18,14,117;
  --color-mention-10-rgb: 3,0,82;

  /* space grey */
  --space-grey-1: #F0F2F5;
  --space-grey-2: #E9EBF0;
  --space-grey-3: #DADDE3;
  --space-grey-4: #C7CBD4;
  --space-grey-5: #A4ACBD;
  --space-grey-6: #818A9C;
  --space-grey-7: #586173;
  --space-grey-8: #3F454F;
  --space-grey-9: #2D333D;
  --space-grey-10: #191B1F;
  --color-grey-1-rgb: 240,242,245;
  --color-grey-2-rgb: 233,235,240;
  --color-grey-3-rgb: 218,221,227;
  --color-grey-4-rgb: 199,203,212;
  --color-grey-5-rgb: 164,172,189;
  --color-grey-6-rgb: 129,138,156;
  --color-grey-7-rgb: 88,97,115;
  --color-grey-8-rgb: 63,69,79;
  --color-grey-9-rgb: 45,51,61;
  --color-grey-10-rgb: 25,27,31;

  /* link */
  --color-link-1: var(--color-brand1-6);
  --color-link-2: var(--color-brand1-7);
  --color-link-3: var(--color-brand1-5);

  /* card-bg */
  --color-card-1-bg: #ffffff;
  --color-card-2-bg: #f7f7f7;

  /* rgb color */
  --color-error-1-rgb: 255,236,235;
  --color-error-2-rgb: 252,206,202;
  --color-error-3-rgb: 247,170,163;
  --color-error-4-rgb: 242,136,126;
  --color-error-5-rgb: 237,103,90;
  --color-error-6-rgb: 232,71,56;
  --color-error-7-rgb: 196,49,35;
  --color-error-8-rgb: 161,31,19;
  --color-error-9-rgb: 125,18,7;
  --color-error-10-rgb: 82,7,0;

  --color-success-10-rgb: 0,82,38;
  --color-success-9-rgb: 2,107,52;
  --color-success-8-rgb: 10,130,67;
  --color-success-7-rgb: 21,153,83;
  --color-success-5-rgb: 67,191,126;
  --color-success-6-rgb: 35,176,102;
  --color-success-4-rgb: 103,207,152;
  --color-success-3-rgb: 144,222,181;
  --color-success-2-rgb: 209,244,225;
  --color-success-1-rgb: 235,255,246;

  --color-brand1-1-rgb: 240,247,255;
  --color-brand1-2-rgb: 202,227,253;
  --color-brand1-3-rgb: 144,192,239;
  --color-brand1-4-rgb: 88,154,219;
  --color-brand1-5-rgb: 42,125,209;
  --color-brand1-6-rgb: 0,100,200;
  --color-brand1-7-rgb: 0,87,173;
  --color-brand1-8-rgb: 0,62,124;
  --color-brand1-9-rgb: 0,50,99;
  --color-brand1-10-rgb: 0,41,82;

  --color-warning-10-rgb: 82,42,0;
  --color-warning-9-rgb: 119,65,6;
  --color-warning-8-rgb: 163,90,10;
  --color-warning-7-rgb: 207,116,18;
  --color-warning-5-rgb: 247,168,84;
  --color-warning-6-rgb: 249,142,26;
  --color-warning-4-rgb: 255,185,110;
  --color-warning-1-rgb: 255,245,235;
  --color-warning-3-rgb: 255,205,150;
  --color-warning-2-rgb: 255,224,191;

  --color-help-9-rgb: 128,98,8;
  --color-help-8-rgb: 168,130,13;
  --color-help-7-rgb: 209,162,21;
  --color-help-6-rgb: 250,195,30;
  --color-help-10-rgb: 87,66,3;
  --color-help-5-rgb: 255,210,74;
  --color-help-4-rgb: 255,221,117;
  --color-help-3-rgb: 255,231,161;
  --color-help-2-rgb: 255,242,204;
  --color-help-1-rgb: 255,247,224;

  /** 樱桃红 **/
  --color-C0: #FFEBEF;
  --color-C10: #F2C2CE;
  --color-C20: #E68AA1;
  --color-C30: #D95777;
  --color-C40: #CC2952;
  --color-C50: #BF0030;
  --color-C60: #A60029;
  --color-C70: #73001D;
  --color-C80: #590016;
  --color-C90: #400010;
  --color-C0-rgb: 242,194,206;
  --color-C10-rgb: 230,138,161;
  --color-C20-rgb: 217,87,119;
  --color-C30-rgb: 204,41,82;
  --color-C40-rgb: 191,0,48;
  --color-C50-rgb: 166,0,41;
  --color-C60-rgb: 115,0,29;
  --color-C70-rgb: 89,0,22;
  --color-C80-rgb: 64,0,16;

  /** 绛红 **/
  --color-PR0: #FFECEB;
  --color-PR10: #F2C1BD;
  --color-PR20: #E6948E;
  --color-PR30: #E6948E;
  --color-PR40: #CC473D;
  --color-PR50: #BE271B;
  --color-PR60: #A11A10;
  --color-PR70: #801109;
  --color-PR80: #610903;
  --color-PR90: #400400;
  --color-PR0-rgb: 255,236,235;
  --color-PR10-rgb: 242,193,189;
  --color-PR20-rgb: 230,148,142;
  --color-PR30-rgb: 230,148,142;
  --color-PR40-rgb: 204,71,61;
  --color-PR50-rgb: 190,39,27;
  --color-PR60-rgb: 161,26,16;
  --color-PR70-rgb: 128,17,9;
  --color-PR80-rgb: 97,9,3;
  --color-PR90-rgb: 64,4,0;

  /** 琥珀橙 **/
  --color-A0: #FFF3EB;
  --color-A10: #F7D3BA;
  --color-A20: #F0B286;
  --color-A30: #E89356;
  --color-A40: #E37629;
  --color-A50: #DB5B00;
  --color-A60: #B54B00;
  --color-A70: #8F3C00;
  --color-A80: #692C00;
  --color-A90: #401B00;
  --color-A0-rgb: 255,243,235;
  --color-A10-rgb: 247,211,186;
  --color-A20-rgb: 240,178,134;
  --color-A30-rgb: 232,147,86;
  --color-A40-rgb: 227,118,41;
  --color-A50-rgb: 219,91,0;
  --color-A60-rgb: 181,75,0;
  --color-A70-rgb: 143,60,0;
  --color-A80-rgb: 105,44,0;
  --color-A90-rgb: 64,27,0;

  /** 香槟金 **/
  --color-Gold0: #FFF9DE;
  --color-Gold10: #FFF5C4;
  --color-Gold20: #FFF1AB;
  --color-Gold30: #FFEE99;
  --color-Gold40: #E8D36B;
  --color-Gold50: #D1BB4F;
  --color-Gold60: #A8963D;
  --color-Gold70: #80712B;
  --color-Gold80: #574D1C;
  --color-Gold90: #3D3614;
  --color-Gold0-rgb: 255,249,222;
  --color-Gold10-rgb: 255,245,196;
  --color-Gold20-rgb: 255,241,171;
  --color-Gold30-rgb: 255,238,153;
  --color-Gold40-rgb: 232,211,107;
  --color-Gold50-rgb: 209,187,79;
  --color-Gold60-rgb: 168,150,61;
  --color-Gold70-rgb: 128,113,43;
  --color-Gold80-rgb: 87,77,28;
  --color-Gold90-rgb: 61,54,20;

  /** 青柠绿 **/
  --color-L0: #F0FAE1;
  --color-L10: #CEE8A7;
  --color-L20: #B3D186;
  --color-L30: #85BA2F;
  --color-L40: #6C9E1C;
  --color-L50: #538700;
  --color-L60: #457000;
  --color-L70: #375900;
  --color-L80: #294200;
  --color-L90: #1B2B00;
  --color-L0-rgb: 240,250,225;
  --color-L10-rgb: 206,232,167;
  --color-L20-rgb: 179,209,134;
  --color-L30-rgb: 133,186,47;
  --color-L40-rgb: 108,158,28;
  --color-L50-rgb: 83,135,0;
  --color-L60-rgb: 69,112,0;
  --color-L70-rgb: 55,89,0;
  --color-L80-rgb: 41,66,0;
  --color-L90-rgb: 27,43,0;

  /** 翡翠绿 **/
  --color-E0: #E1FAF6;
  --color-E10: #BAE8E2;
  --color-E20: #8AD1C8;
  --color-E30: #61BAAE;
  --color-E40: #3DA193;
  --color-E50: #21887A;
  --color-E60: #157568;
  --color-E70: #0C6358;
  --color-E80: #055247;
  --color-E90: #004037;
  --color-E0-rgb: 225,250,246;
  --color-E10-rgb: 186,232,226;
  --color-E20-rgb: 138,209,200;
  --color-E30-rgb: 97,186,174;
  --color-E40-rgb: 61,161,147;
  --color-E50-rgb: 33,136,122;
  --color-E60-rgb: 21,117,104;
  --color-E70-rgb: 12,99,88;
  --color-E80-rgb: 5,82,71;
  --color-E90-rgb: 0,64,55;

  /** 孔雀蓝 **/
  --color-M0: #E6FBFF;
  --color-M10: #AEE2EB;
  --color-M20: #7BCEDB;
  --color-M30: #57CCD9;
  --color-M40: #00B3C7;
  --color-M50: #009CAD;
  --color-M60: #008594;
  --color-M70: #006E7A;
  --color-M80: #005761;
  --color-M90: #004047;
  --color-M0-rgb: 230,251,255;
  --color-M10-rgb: 174,226,235;
  --color-M20-rgb: 123,206,219;
  --color-M30-rgb: 87,204,217;
  --color-M40-rgb: 0,179,199;
  --color-M50-rgb: 0,156,173;
  --color-M60-rgb: 0,133,148;
  --color-M70-rgb: 0,110,122;
  --color-M80-rgb: 0,87,97;
  --color-M90-rgb: 0,64,71;

  /** 海洋蓝 **/
  --color-Ocean0: #E6F9FF;
  --color-Ocean10: #AFDEF0;
  --color-Ocean20: #79C5E0;
  --color-Ocean30: #49ADD1;
  --color-Ocean40: #0092C7;
  --color-Ocean50: #007FAD;
  --color-Ocean60: #006E96;
  --color-Ocean70: #005E80;
  --color-Ocean80: #004D69;
  --color-Ocean90: #003C52;
  --color-Ocean0-rgb: 230,249,255;
  --color-Ocean10-rgb: 175,222,240;
  --color-Ocean20-rgb: 121,197,224;
  --color-Ocean30-rgb: 73,173,209;
  --color-Ocean40-rgb: 0,146,199;
  --color-Ocean50-rgb: 0,127,173;
  --color-Ocean60-rgb: 0,110,150;
  --color-Ocean70-rgb: 0,94,128;
  --color-Ocean80-rgb: 0,77,105;
  --color-Ocean90-rgb: 0,60,82;

  /** 天空蓝 **/
  --color-Sky0: #F0F8FF;
  --color-Sky10: #BBDDFA;
  --color-Sky20: #89C3F5;
  --color-Sky30: #5AABF2;
  --color-Sky40: #2B94F0;
  --color-Sky50: #007EED;
  --color-Sky60: #006BC9;
  --color-Sky70: #0058A6;
  --color-Sky80: #004582;
  --color-Sky90: #00315C;
  --color-Sky0-rgb: 240,248,255;
  --color-Sky10-rgb: 187,221,250;
  --color-Sky20-rgb: 137,195,245;
  --color-Sky30-rgb: 90,171,242;
  --color-Sky40-rgb: 43,148,240;
  --color-Sky50-rgb: 0,126,237;
  --color-Sky60-rgb: 0,107,201;
  --color-Sky70-rgb: 0,88,166;
  --color-Sky80-rgb: 0,69,130;
  --color-Sky90-rgb: 0,49,92;

  /** 丁香紫 **/
  --color-LP0: #F8F0FF;
  --color-LP10: #ECD6FF;
  --color-LP20: #E0BDFF;
  --color-LP30: #D4A3FF;
  --color-LP40: #D48FFF;
  --color-LP50: #B36CE6;
  --color-LP60: #8D44C2;
  --color-LP70: #6B249E;
  --color-LP80: #4D0D7A;
  --color-LP90: #360856;
  --color-LP0-rgb: 248,240,255;
  --color-LP10-rgb: 236,214,255;
  --color-LP20-rgb: 224,189,255;
  --color-LP30-rgb: 212,163,255;
  --color-LP40-rgb: 212,143,255;
  --color-LP50-rgb: 179,108,230;
  --color-LP60-rgb: 141,68,194;
  --color-LP70-rgb: 107,36,158;
  --color-LP80-rgb: 77,13,122;
  --color-LP90-rgb: 54,8,86;
}
