#{$css-var-scope} {
  /* 全局 */
  --alicloudfe-components-theme: hybridcloud;
  --active-shadow: var(--shadow-1-down);
  --active-transition: 0.3s;
  --scrollbar-width: 4px;
  --scrollbar-height: 4px;
  --global-scrollbar-width: 6px;
  --global-scrollbar-height: 6px;
  --scrollbar-track-bg: transparent;
  --scrollbar-track-border-radius: 3px;
  --scrollbar-thumb-bg: rgba(0, 0, 0, 0.2);
  --scrollbar-thumb-hover-bg: rgba(0, 0, 0, 0.4);
  // 用于容器组件
  --layout-padding-top-and-bottom: 16px;
  --layout-padding-left-and-right: 24px;
  --layout-section-margin-right: 16px;
  --layout-section-padding-right: 16px;
  --layout-section-margin-bottom: 16px;
  --layout-header-height: auto;
  --layout-header-margin-bottom: 8px;

  /* button */
  --btn-primary-hover-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.18);
  --btn-primary-active-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.18);
  --btn-normal-hover-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.06);
  --btn-normal-active-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.06);
  --btn-small-min-width: 62px;
  --btn-medium-min-width: 62px;
  --btn-large-min-width: 64px;

  --btn-small-cn2-3-width: 62px;
  --btn-small-cn4-width: 72px;
  --btn-medium-cn2-3-width: 62px;
  --btn-medium-cn4-width: 80px;
  --btn-large-cn2-3-width: 64px;
  --btn-large-cn4-width: 88px;
  // --btn-font-weight: 500;

  /* menu */
  --menu-icon-selected-color: #333333;
  --select-menu-select-icon-ml: -20px;
  --menu-padding: 6px;
  --menu-padding-horizontal: 8px;
  --menu-item-padding-ver-padding-r: 8px;
  --menu-item-padding-ver-padding-l: 8px;
  // 对于可选择的menu，增加padding以便容纳勾选图标
  --menu-padding-horizontal-selectable: 24px;

  /* number-picker */
  --number-picker-height-small: 28px;
  --number-picker-height-medium: 32px;
  --number-picker-height-large: 36px;
  --number-picker-inline-group-border: 1px solid var(--input-border-color);

  /* cascader */
  --cascader-menu-width: 175px;
  --cascader-menu-height: 176px;

  /* checkbox */
  --checkbox-icon-scale: 0.7;

  /* message */
  --message-title-weight: 500;
  --message-close-icon-size: 16px;
  --message-success-border-color: var(--color-success-7);
  --message-warning-border-color: var(--color-warning-7);
  --message-error-border-color: var(--color-error-7);
  --message-notice-border-color: var(--color-brand1-4);
  --message-help-border-color: var(--color-brand1-4);

  /* transfer */
  --transfer-panel-padding-mb: 8px;
  --transfer-panel-margin-mb: 0px;

  /* datepicker */
  --calendar-panel-header-margin-bottom: 4px;

  /* dialog */
  --dialog-title-border-color: var(--color-line1-1);
  --dialog-footer-padding-top: 16px;
  --dialog-footer-padding-bottom: 20px;
  --dialog-close-size: 16px;
  --dialog-close-top: 14px;
  --dialog-title-padding-bottom: 20px;
  --dialog-title-padding-top: 20px;
  --dialog-header-close-bg-width: 20px;
  --dialog-header-close-bg-height: 20px;
  --color-dialog-content: var(--color-text1-6);

  /* tag */
  --colortag-border-width: 1px;
  --color-tag-turquoise-background: rgba(201, 239, 236);

  /* tree */
  --tree-selected-font-weight: 600;

  /* drawer */
  --drawer-close-icon-ml: -14px;

  /* pagination */
  --pagination-item-disabled-bg: #fff;
  --pagination-total-font-size: 12px;

  /* card */
  --card-hover-shadow: none;
  --card-body-show-divider-padding-top: 16px;

  /* tab */
  --tab-item-margin-lr-size-m: var(--tab-item-padding-lr-size-m);
  --tab-item-margin-lr-size-s: var(--tab-item-padding-lr-size-s);

  /* table */
  --color-table-selected-border: var(--color-brand1-6);
  --table-lock-right-shadow: -2px 0 3px rgb(0 0 0 / 12%);
  --table-lock-left-shadow: 2px 0 3px rgb(0 0 0 / 12%);
  // 用于 Table.StickyLock
  --table-ping-right-shadow: inset -10px 0 8px -8px rgb(0 0 0 / 15%);
  --table-ping-left-shadow: inset 10px 0 8px -8px rgb(0 0 0 / 15%);

  /* skeleton */
  --color-skeleton-bg-normal: #eee;
  --color-skeleton-bg-light: #f5f5f5;

  /* drawer */
  --drawer-footer-padding-top: var(--s-4, 16px);
  --drawer-footer-padding-bottom: var(--s-4, 16px);
  --drawer-footer-padding-left: var(--s-5, 20px);
  --drawer-footer-padding-right: var(--s-5, 20px);
  --drawer-footer-bg-color: var(--color-white, #fff);
  --drawer-footer-border-color: var(--color-line1-1, #eaeaea);
  --drawer-footer-border-width: var(--line-1, 1px);
  --drawer-has-footer-margin-bottom: var(--s-10, 40px);
  --drawer-header-close-bg-width: var(--s-5, 20px);
  --drawer-header-close-bg-height: var(--s-5, 20px);
  --drawer-header-close-transform-left: -4px;
  --drawer-header-close-border-radius: 2px;

  /* modal */
  --modal-header-close-bg-width: 20px;
  --modal-header-close-bg-height: 20px;
  --modal-header-close-border-radius: 2px;
  --modal-header-close-margin-right: 18px;

  /* search */
  --search-before-title-icon-padding: 0 0 0 8px;
  --search-before-title-icon-font-size: 20px;
  --search-before-title-icon-margin: 0 8px 0 0;

  /* date-picker 2 */
  --date-picker2-time-bg: var(--color-brand1-1, #001A33);

  /* purple */
  
  --color-purple-0: #f0f0ff;
  --color-purple-10: #c9cbf5;
  --color-purple-20: #afb2f0;
  --color-purple-30: #969aeb;
  --color-purple-40: #7e83e6;
  --color-purple-50: #666ce0;
  --color-purple-60: #4046bd;
  --color-purple-70: #232999;
  --color-purple-80: #0e1375;
  --color-purple-90: #000452;

}
