// 混合云亮色主题独有样式覆盖

@import '../../button/hybridcloud.scss';
@import '../../checkbox/hybridcloud.scss';
@import '../../menu/custom.scss';
@import '../../tag/custom.scss';
@import '../../tag/hybridcloud.scss';
@import '../../input/custom.scss';
@import '../../input/yunxiao.scss';
@import '../../menu-button/custom.scss';
@import '../../notification/custom.scss';
@import '../../message/custom.scss';
@import '../../message/hybridcloud.scss';
@import '../../tree/custom.scss';
@import '../../select/custom.scss';
@import '../../split-button/custom.scss';
@import '../../tab/hybridcloud.scss';
@import '../../icon/custom.scss';
@import '../../step/custom.scss';
@import '../../time-picker/custom.scss';
@import '../../dialog/hybridcloud.scss';
@import '../../dialog/custom.scss';
@import '../../form/hybridcloud.scss';
@import '../../drawer/custom.scss';
@import '../../date-picker2/custom.scss';
@import '../../table/custom.scss';
@import  '../../collapse/hybridcloud.scss';
@import '../../calendar2/main.scss';
@import '../../card/hybridcloud.scss';
@import '../../tab/custom.scss';
@import '../../table/hybridcloud.scss';
@import '../../pagination/hybridcloud.scss';
@import '../../loading/hybridcloud.scss';
@import '../../tree/hybridcloud.scss';
@import '../../balloon/custom.scss';
@import '../../drawer/hybridcloud.scss';
@import '../../modal/hybridcloud.scss';
@import '../../search/hybridcloud.scss';
@import '../../date-picker2/hybridcloud.scss';
@import '../../time-picker2/hybridcloud.scss';
@import '../../select/hybridcloud.scss';
@import '../../divider/custom.scss';
@import '../../step/hybridcloud.scss';

body {
  font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variant: tabular-nums;
  font-feature-settings: "tnum","tnum";
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
  margin: 0;
  color: var(--color-text1-4, #1a1a1a);
  font-weight: var(--font-weight-medium, 500);
  margin-bottom: .5em;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}

::-webkit-scrollbar {
  width: var(--global-scrollbar-width, 6px);
  height: var(--global-scrollbar-height, 6px);
}

::-webkit-scrollbar-track {
  opacity: 0.5;
  background: var(--scrollbar-track-bg, transparent);
  border-radius: var(--scrollbar-track-border-radius, 3px);
}

::-webkit-scrollbar-thumb {
  opacity: 0.5;
  background: var(--scrollbar-thumb-bg, #ccc);
  border-radius: var(--scrollbar-thumb-border-radius, 3px);
}