// 混合云亮色主题独有样式覆盖

@import '../../checkbox/hybridcloud.scss';
@import '../../menu/custom.scss';
@import '../../tag/custom.scss';
@import '../../tag/hybridcloud.scss';
@import '../../input/custom.scss';
@import '../../input/yunxiao.scss';
@import '../../menu-button/custom.scss';
@import '../../notification/custom.scss';
@import '../../message/custom.scss';
@import '../../tree/custom.scss';
@import '../../select/custom.scss';
@import '../../split-button/custom.scss';
@import '../../tab/hybridcloud.scss';
@import '../../icon/custom.scss';
@import '../../step/custom.scss';
@import '../../time-picker/custom.scss';
@import '../../dialog/hybridcloud.scss';
@import '../../form/hybridcloud.scss';
@import '../../drawer/custom.scss';
@import '../../date-picker2/custom.scss';
@import '../../table/custom.scss';
@import  '../../collapse/hybridcloud.scss';
@import '../../calendar2/main.scss';
@import '../../card/hybridcloud.scss';
@import '../../tab/custom.scss';
@import '../../table/hybridcloud.scss';
@import '../../pagination/hybridcloud.scss';
@import '../../loading/hybridcloud.scss';
@import '../../tree/hybridcloud.scss';
@import '../../balloon/custom.scss';
@import '../../drawer/hybridcloud.scss';
@import '../../modal/hybridcloud.scss';
@import '../../search/hybridcloud.scss';
@import '../../date-picker2/hybridcloud.scss';
@import '../../time-picker2/hybridcloud.scss';

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variant: tabular-nums;
  font-feature-settings: "tnum","tnum";
}
h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
  margin: 0;
  color: var(--color-text1-4, #1a1a1a);
  font-weight: var(--font-weight-medium, 500);
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}