#{$css-var-scope} {
  --alicloudfe-components-theme: hybridcloud-dark;
  --dropdown-bg-color: var(--color-fill1-2);
  --scrollbar-width: 4px;
  --scrollbar-track-bg: var(--menu-background);
  --scrollbar-track-border-radius: 0px;
  --scrollbar-thumb-bg: #6b6b6b;
  // 用于容器组件
  --layout-padding-top-and-bottom: 16px;
  --layout-padding-left-and-right: 24px;
  --layout-section-margin-right: 16px;
  --layout-section-padding-right: 16px;
  --layout-section-margin-bottom: 16px;
  --layout-header-height: auto;
  --layout-header-margin-bottom: 8px;
  /* button */
  // --btn-font-weight: 500;
  --btn-small-min-width: 62px;
  --btn-medium-min-width: 62px;
  --btn-large-min-width: 64px;

  --btn-small-cn2-3-width: 62px;
  --btn-small-cn4-width: 72px;
  --btn-medium-cn2-3-width: 62px;
  --btn-medium-cn4-width: 80px;
  --btn-large-cn2-3-width: 64px;
  --btn-large-cn4-width: 88px;

  /* menu */
  --select-menu-select-icon-ml: -20px;
  --menu-padding: 6px;
  --menu-padding-horizontal: 8px;
  // 对于可选择的menu，增加padding以便容纳勾选图标
  --menu-padding-horizontal-selectable: 24px;

  /* badge */
  --badge-border-color: #1f1f1f;
  /* checkbox */
  --checkbox-icon-scale: 0.7;
  /* message */
  --message-title-weight: 500;
  --message-close-icon-size: 16px;
  --message-success-border-color: var(--color-success-7);
  --message-warning-border-color: var(--color-warning-7);
  --message-error-border-color: var(--color-error-7);
  --message-notice-border-color: var(--color-brand1-4);
  --message-help-border-color: var(--color-brand1-4);
  /* transfer */
  --transfer-panel-padding-mb: 8px;
  --transfer-panel-margin-mb: 0px;
  /* tree */
  --tree-switcher-icon-selected-color: #cccccc;
  --tree-selected-font-weight: 600;
  /* tree-select */
  --tree-select-background: var(--color-fill1-4);
  /* datepicker */
  --calendar-panel-header-margin-bottom: 4px;

  /* dialog */
  --dialog-title-border-color: var(--color-line1-1);
  --dialog-footer-padding-top: 13px;
  --dialog-footer-padding-bottom: 13px;
  --dialog-close-size: 16px;
  --dialog-title-padding-bottom: 13px;
  --dialog-title-padding-top: 13px;

  /* cascader */
  --cascader-menu-height: 176px;

  /* pagination */
  --pagination-item-disabled-bg: #383838;

  /* numberpicker */
  --number-picker-height-small: 28px;
  --number-picker-height-medium: 32px;
  --number-picker-height-large: 36px;
  --number-picker-inline-group-border: 1px solid var(--input-border-color);

  /* drawer */
  --drawer-close-icon-ml: -14px;

  /* card */
  --card-hover-shadow: var(--shadow-3);
  --card-body-show-divider-padding-top: 16px;

  /* tab */
  --tab-item-margin-lr-size-m: var(--tab-item-padding-lr-size-m);
  --tab-item-margin-lr-size-s: var(--tab-item-padding-lr-size-s);

  /* table */
  --color-table-selected-border: var(--color-brand1-6);
}
