#{$css-var-scope} {
  --dropdown-bg-color: var(--color-fill1-2);
  /* message */
  --message-close-icon-size: 16px;
  /* badge */
  --badge-border-color: #1f1f1f;
  /* checkbox */
  --checkbox-icon-scale: 0.9;
}