// 全局 reset 样式，抽出来不放到 no-reset 中
body {
  background: var(--color-fill1-1);
  font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variant: tabular-nums;
  font-feature-settings: "tnum","tnum";
}

.next-menu {
  &::-webkit-scrollbar {
    width: var(--scrollbar-width, 4px);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-bg, #6b6b6b);
    border-radius: var(--scrollbar-track-border-radius, 3px);
  }

  &::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-bg, #303030);
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
  margin: 0;
  color: var(--color-text1-4, #eaeaea);
  font-weight: var(--font-weight-medium, 500);
  margin-bottom: .5em;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}

$overlay-prefix: '.' + $css-prefix + 'overlay';
#{$overlay-prefix}-wrapper #{$overlay-prefix}-inner {
  @include hybridcloud-scrollbar;
}

::-webkit-scrollbar {
  width: 14px;
  height: 14px;
}
::-webkit-scrollbar-thumb {
  border-color: transparent;
  border-style: solid;
  border-width: 4px;
  background-clip: content-box;
  border-radius: 7px;
  background-color: var(--scrollbar-thumb-bg);
  &:hover {
    border-width: 3px;
    background-color: var(--scrollbar-thumb-hover-bg); 
  }
}
::-webkit-scrollbar-track {
  background-color: transparent;
}