// 混合云暗色主题独有样式覆盖

@import '../../checkbox/hybridcloud.scss';
@import '../../menu/custom.scss';
@import '../../tag/custom.scss';
@import '../../input/custom.scss';
@import '../../menu-button/custom.scss';
@import '../../notification/custom.scss';
@import '../../message/custom.scss';
@import '../../message/hybridcloud.scss';
@import '../../tree/custom.scss';
@import '../../select/custom.scss';
@import '../../split-button/custom.scss';
@import '../../step/custom.scss';
@import '../../tree/custom.scss';
@import '../../time-picker/custom.scss';
@import '../../dialog/hybridcloud.scss';
// @import '../../dialog/hybridcloud-dark.scss';
@import '../../dialog/custom.scss';
@import '../../number-picker/hybridcloud.scss';
@import '../../form/hybridcloud.scss';
@import '../../drawer/custom.scss';
@import '../../date-picker2/custom.scss';
@import '../../table/custom.scss';
@import  '../../collapse/hybridcloud.scss';
@import '../../calendar2/main.scss';
@import '../../card/hybridcloud.scss';
@import '../../tab/custom.scss';
@import '../../tab/hybridcloud.scss';
@import '../../table/hybridcloud.scss';
@import '../../pagination/hybridcloud.scss';
@import '../../loading/hybridcloud.scss';
@import '../../tree/hybridcloud.scss';
@import '../../balloon/custom.scss';
@import '../../drawer/hybridcloud.scss';
// @import '../../drawer/hybridcloud-dark.scss';
@import '../../modal/hybridcloud.scss';
// @import '../../modal/hybridcloud-dark.scss';
@import '../../tag/hybridcloud.scss';
// @import '../../tag/hybridcloud-dark.scss';
@import '../../search/hybridcloud.scss';
@import '../../date-picker2/hybridcloud.scss';
@import '../../time-picker2/hybridcloud.scss';
// @import '../../select/hybridcloud-dark.scss';
@import '../../divider/custom.scss';
@import '../../step/hybridcloud.scss';
// @import '../../loading/hybridcloud-dark.scss';

body {
  background: var(--color-fill1-1);
  font-family: -apple-system,BlinkMacSystemFont,segoe ui,Roboto,helvetica neue,Arial,noto sans,sans-serif,apple color emoji,segoe ui emoji,segoe ui symbol,noto color emoji;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variant: tabular-nums;
  font-feature-settings: "tnum","tnum";
}

.next-menu {
  &::-webkit-scrollbar {
    width: var(--scrollbar-width, 4px);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-bg, #6b6b6b);
    border-radius: var(--scrollbar-track-border-radius, 3px);
  }

  &::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-bg, #303030);
  }
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.5;
  margin: 0;
  color: var(--color-text1-4, #eaeaea);
  font-weight: var(--font-weight-medium, 500);
  margin-bottom: .5em;
}
h1 {
  font-size: 36px;
}
h2 {
  font-size: 24px;
}
h3 {
  font-size: 20px;
}
h4 {
  font-size: 16px;
}
h5 {
  font-size: 14px;
}
h6 {
  font-size: 12px;
}

::-webkit-scrollbar {
  width: var(--global-scrollbar-width, 6px);
  height: var(--global-scrollbar-height, 6px);
}

::-webkit-scrollbar-track {
  opacity: 0.5;
  background: var(--scrollbar-track-bg, #303030);
  border-radius: var(--scrollbar-track-border-radius, 3px);
}

::-webkit-scrollbar-thumb {
  opacity: 0.5;
  background: var(--scrollbar-thumb-bg, #8a8a8a);
  border-radius: var(--scrollbar-thumb-border-radius, 3px);
}