// 混合云暗色主题独有样式覆盖

@import '../../checkbox/hybridcloud.scss';
@import '../../menu/custom.scss';
@import '../../tag/custom.scss';
@import '../../input/custom.scss';
@import '../../menu-button/custom.scss';
@import '../../notification/custom.scss';
@import '../../message/custom.scss';
@import '../../tree/custom.scss';
@import '../../select/custom.scss';
@import '../../split-button/custom.scss';
@import '../../step/custom.scss';
@import '../../tree/custom.scss';
@import '../../time-picker/custom.scss';
@import '../../dialog/hybridcloud.scss';
@import '../../number-picker/hybridcloud-dark.scss';
@import '../../form/hybridcloud.scss';
@import '../../drawer/custom.scss';
@import '../../date-picker2/custom.scss';
@import '../../table/custom.scss';
@import  '../../collapse/hybridcloud.scss';
@import '../../calendar2/main.scss';
@import '../../card/hybridcloud.scss';
@import '../../tab/custom.scss';
@import '../../table/hybridcloud.scss';
@import '../../pagination/hybridcloud.scss';
@import '../../loading/hybridcloud.scss';
@import '../../tree/hybridcloud.scss';

body {
  background: var(--color-fill1-1);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-variant: tabular-nums;
  font-feature-settings: "tnum","tnum";
}

.next-menu {
  &::-webkit-scrollbar {
    width: var(--scrollbar-width, 4px);
  }

  &::-webkit-scrollbar-thumb {
    background-color: var(--scrollbar-thumb-bg, #6b6b6b);
    border-radius: var(--scrollbar-track-border-radius, 3px);
  }

  &::-webkit-scrollbar-track {
    background-color: var(--scrollbar-track-bg, #303030);
  }
}