.next-split-btn-trigger {
    .next-split-btn-symbol-fold {
        opacity: 0.5;
    }
}

.next-btn-group .next-btn.next-btn-primary:not([disabled]) {
    border-color: var(--color-brand1-6);
    &:hover {
      border-color: var(--color-brand1-7);
    }
    &:active {
      border-color: var(--color-brand1-8);
    }
    &.next-split-btn-trigger {
      border-left-color: rgba(255, 255, 255, 0.2);
    }
  }