$css-var-scope: '.theme-aone';
@import '../../src/theme/yunxiao/css-var-custom.scss';
@import '../../src/theme/yunxiao/css-var-definition.scss';

// 基于云效主题，覆盖主题色变量
.theme-aone {
  --color-brand1-1: #F0F0FF;
  --color-brand1-2: #C9CBF5;
  --color-brand1-3: #AFB2F0;
  --color-brand1-4: #969AEB;
  --color-brand1-5: #7E83E6;
  --color-brand1-6: #5A66C7;
  --color-brand1-7: #3A47AB;
  --color-brand1-8: #212D8F;
  --color-brand1-9: #0E1375;
  --color-brand1-10: #000452;
}