#{$css-var-scope} {
  --select-menu-select-icon-ml: initial;
  --menu-icon-selected-size: initial;
  --checkbox-icon-scale: initial;
  --checkbox-icon-size: initial;
  --input-clear-icon-transform: initial;
  --overlay-offset: initial;
  --card-border-color: initial;
  --btn-large-min-width: initial;
  --number-picker-handler-btn-border: initial;
  --number-picker-handler-btn-border-hover: initial;
  --number-picker-final-height-small: initial;
  --number-picker-final-height-medium: initial;
  --number-picker-final-height-large: initial;
  --number-picker-inline-group-border: initial;
  --number-picker-inline-group-padding: initial;
  --number-picker-inline-group-btn-border: initial;
  --number-picker-inline-group-btn-border-hover: initial;
  --number-picker-border-radius: initial;
  --pagination-item-disabled-bg: initial;
  --range-scale-item-position-top: initial;
  --range-size-m-scale-height: initial;
  --range-size-m-scale-item-border-width: initial;
  --timeline-item-done-background: initial;
  --timeline-item-done-border: initial;
  --switch-size-s-width: initial;
  --balloon-size-arrow-expose: initial;
  --pagination-item-hover-bg: initial;
  --active-shadow: initial;
  --active-transition: initial;
  --btn-font-weight: initial;
  --btn-pure-primary-bg-disabled: initial;
  --btn-pure-primary-color-disabled: initial;
  --btn-pure-primary-border-style: initial;
  --btn-primary-hover-shadow: initial;
  --btn-primary-active-shadow: initial;
  --btn-normal-hover-shadow: initial;
  --btn-normal-active-shadow: initial;
  --btn-text-secondary-bg-hover: initial;
  --btn-text-secondary-bg-active: initial;
  --btn-small-min-width: initial;
  --btn-small-cn-width: initial;
  --btn-medium-min-width: initial;
  --btn-medium-cn-width: initial;
  --btn-large-cn-width: initial;
  --tab-pure-text-color-hover: initial;
  --tab-pure-text-color-normal: initial;
  --tab-pure-hover-bg: initial;
  --search-normal-normal-btn-bg-color: initial;
  --search-btn-hover-bg: initial;
  --menu-icon-selected-color: initial;
  --select-selected-font-weight: initial;
  --menu-padding: initial;
  --menu-padding-horizontal: initial;
  --menu-padding-horizontal-selectable: initial;
  --tag-hover-color: initial;
  --tag-focus-color: initial;
  --tag-focus-bg: initial;
  --tag-hover-bg: initial;
  --number-picker-height-small: initial;
  --number-picker-height-medium: initial;
  --number-picker-height-large: initial;
  --cascader-menu-width: initial;
  --dialog-footer-align-default: initial;
  --balloon-arrow-border-radius: initial;
}